<% provide(:title, "Clients") %>

<h3><%=yield(:title)%></h3>

<ul class="button-group" style="margin-bottom: 1em; ">
  <li><%=link_to "New Client", new_crm_brochure_client_path, :class => "button secondary" %></li>
</ul>

<table>
  <tbody>
    <thead>
      <td>ID</td>
      <td>Position</td>
      <td>Title</td>
      <td>Actions</td>
    </thead>
    <tbody id="sortable">
      <% @collection.each do |b| %>
      <tr>
        <td><%=b.id%></td>
        <td><%=b.position%></td>
        <td><%=b.title%></td>
        <td>
          <%= link_to brochure_client_with_slug_path(:slug => b.slug), :title => "View" do %><i class="general foundicon-page"></i><% end %>
          <%= link_to edit_crm_brochure_client_path(:id => b.id), :title => "Edit" do %><i class="general foundicon-edit"></i><% end %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </tbody>
</table>
