<%= semantic_form_for @album_item, :as => 'album_item', :url => project_save_clip_image_path(:project_id => -1), :remote => true do |f| %>
  <h3>Save this idea</h3>

  <% if @album_item %>
    <div class="panel" style="text-align:center;">
      <%= image_tag @album_item.parent.get_attachment2(:large_square), :style => 'max-height: 150px;' %>
      <h6><%= @album_item.title %></h6>
      
      <% if @album_item.parent.album.parent.class == "Physical::Project::Project" %>
      <p>From: <%= @album_item.parent.album.parent.title %></p>
      <% end %>

    </div>

    <div class="hidden">
      <%= f.input :parent_id, :as => :number, :input_html => { :value => @album_item.parent.id } %> 
    </div>

  <% end %>

  <%
    projects = current_user.projects
    album_options = projects.map { |p| [p.title, p.primary_album_id] }
    album_selected = projects.first.primary_album_id

    category_options = Physical::Album::AlbumItemCategory.all.map { |c| [c.name, c.id] }
    category_selected = @album_item.parent.category ? @album_item.parent.category_id : Physical::Album::AlbumItemCategory::UNCATEGORIZED.id
  %>


<div class="row">
  <div class="columns large-12 small-12"><%= f.input :description, 
    :label => false,
    :placeholder => 'What do you like about this? Add a comment or a description.',
    :input_html => { :rows => 2, :class => 'large-font' }
  %></div>
  <div class="columns large-4 small-12"><p>Save this to:</p></div>
  <div class="columns large-8 small-12">
     <%= f.input :album_id,
      :label => false,
      :as => :select,
      :collection => options_for_select( album_options, album_selected)
    %>
  </div>
  <div class="columns large-4 small-12"><p>Categorize this idea as:</p></div>
  <div class="columns large-8 small-12">
      <%= f.input :category_id,
    :label => false,
    :as => :select,
    :collection => options_for_select( category_options, category_selected)
  %>
  </div>

</div>

 

  
  <button class="radius button display-prompt-modal" type="submit" style="width: 100%; ">Save</button>
<% end %>