<%= semantic_form_for @album, :as => :album, :url => medium_path(@album), :remote => true do |f| %>
  <%= f.inputs do %>
    <%= f.input :title %>
    <%= f.input :description, :as => :text, :input_html => { :rows => 5 }  %>

    <%= f.action :submit, :as => :button, :label => "Save Changes", :class => "success button" %>
    <%= f.action :cancel, :as => :link, :label => "Go Back", :button_html => {:class => "neutral button"} %>
  <% end %>

  <div data-alert class="alert-box alert">
    Deleting a picture from your album cannot be undone.
    <a href="#" class="close">&times;</a>
  </div>

  <ul class="large-block-grid-3 small-block-grid-2 sortable-album-items">
  
  <%= f.semantic_fields_for :items do |item| %>
    <% if item.object.asset %>
      <% asset = item.object.asset %>
      <li class="item item-<%= item.object.id %>">
        <%= item.inputs :class => "nested inputs" do %>
          <div class="draggable-handle vertical">Drag to Move</div>

          <% if asset.image %>
              <p><%= image_tag asset.image(:medium_square), :data => {:caption => asset.image.url} %></p>
          <% end %>
            <%= item.input :title, :label => false, :placeholder => "Title" %>
            <%= item.input :description, :as => :text, :input_html => { :rows => 2 }, :label => false, :placeholder => "Description"  %>
            <%= item.input :tag_list, :label => "Tags, comma-separated", :input_html => { :rows => 2, :class => "taggable tagit", :value => item.object.tag_list } %>

            <br>

            <li class="radio input optional" id="album_cover_image_input">
              <ol class="choices-group">
                <li class="choice">
                  <label for="album_cover_image_id_<%= item.object.id %>">
                    <input type="radio" 
                      id="album_cover_image_id_<%= item.object.id %>" 
                      name="album[cover_image_id]" 
                      value="<%= item.object.id %>"
                      <%= (item.object.id == @album.cover_image_id) ? "checked='checked'" : "" %>
                    >
                    Make cover image
                  </label>
                </li>
              </ol>
            </li>

            <%= item.input :position, :as => :hidden, :class => "item-position-input" %>

            <%= link_to "Delete Forever", item_path(item.object), :method => :delete, :class => "button warning small delete-item", :remote => true %>
          <% end %>
      </li>
    <% end %>
  <% end %>
  </ul>
<% end %>

<script>
$(document).ready( function () {
  $('.formtastic.album#edit_album')
    .on('ajax:before', function() {
      if (event.srcElement == $("#edit_album")[0]) {
        c = $('#album_container')
        c.hide().html('<h3>Saving changes...</h3>').fadeIn()
      }
  })

  $('.formtastic.album#edit_album .sortable-album-items').sortable({
    placeholder: "ui-state-highlight",
    forcePlaceholderSize: true,
    handle: ".draggable-handle",
    containment: ".sortable-album-items",
    stop: function() {

      $('.sortable-album-items input[id^="album_items_attributes_"][id$="_position"] ').each( function(index, elem) {
        $(elem).attr('value',index)
      })
    }
  })

  $('.taggable').tagit({
    caseSensitive: false,
    placeholderText : 'Type new tag'
  });

});
</script>