<% provide(:title, @album.title) if not content_for?(:title) %>

<h3><%= yield(:title) %></h3>
<% if @album.parent and @album.parent.name %>
  <p>by <%= link_to @album.parent.name, vendor_path(@album.parent) %></p>
<% end %>
<% if @album.description %>
  <p><%= @album.description %></p>
<% end %>

<ul class="large-block-grid-3 small-block-grid-1 album-items">
    <% @album.items.each do |item| %>
        <% if item.asset %>
        <li class="item item-<%= item.id %>">
            <div class="item-contents-wrapper">
              
              <%= link_to item2_path(:id => item.id, :slug => item.slug), :remote => true, :class => "display-theater hide-for-small" do %>
                <%= image_tag item.asset.image(:medium_square), :class => "item-thumb", :data => {:caption => item.asset.image.url} %>
              <% end %>

              <%= link_to item2_path(:id => item.id, :slug => item.slug), :class => "show-for-small" do %>
                <%= image_tag item.asset.image(:medium_square), :class => "item-thumb", :data => {:caption => item.asset.image.url} %>
              <% end %>
            
              <h6 class="title"><%= !item.title.blank? ? truncate(item.title,:length => 30) : "Untitled"  %></h6>

              <ul class="button-group radius">
                <li>
                  <%= link_to (current_user == nil ? join_path : new_project_item_path(:project_id => -1, :album_item_id => item.id )), :class => "button small secondary radius display-save-album-image-prompt display-prompt-modal",  :remote => current_user != nil do %>
                    <i class="general foundicon-heart"></i>
                  <% end %>
                </li>
              </ul>



              <div class="item-tags-wrapper show-for-small">
                <%= image_tag "tag-green-icon.png", :class => "tag-list-icon", :alt => "Tags", :title => "Tags" %>
                <ul class="item-tags">
                  <% item.tag_list.each do |tag| %>
                    <li><%= link_to tag, "#" %></li>
                  <% end %>
                </ul>

              </div>

            </div>
        </li>
        <% end %>
    <% end %>
</ul>

<% if @album.images.count == 0 %>
<hr>
<div class="alert-box secondary">
  <h4>There are no images in this album.</h4>
</div>
<% end %>