<% provide(:title, @album.title) %>

<ul class="button-group">
  <li><%= link_to edit_medium_path(@album), :class => "small button neutral" do %><i class='general foundicon-edit'></i>Edit<% end %></li>
  <li><%= link_to media_upload_path(@album), :class => "small button neutral" do %><i class='general foundicon-up-arrow'></i>Upload<% end %></li>
</ul>

<h3><%= yield(:title) %></h3>

<% if @album.description %>
  <%= @album.description %>
  <hr>
<% end %>

<ul>
    <% @album.items.each do |item| %>
        <li><%= "#{item}" %></li>
    <% end %>
</ul>