<%= provide(:title, "Active Users") %>

<h3><%= yield(:title) %></h3>

<hr>

<table style="width: 100%; ">
  <thead>
    <tr>
      <td>User</td>
      <td>Joined</td>
      <td>Role</td>
      <td># Projects</td>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
    <tr>
      <td>
        <%= link_to user.object.username, user_profile_path(user.object.slug) %> - <br />
        <%= user.object.email %>
      </td>
      <td>
        <%= user.object.created_at %>
      </td>
      <td>
        <%= user.roles %>
      </td>
      <td>
        <%= user.project_count %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>