<% provide(:title, 'Sign up') %>

<section class="page-content">

<div class="row">
  <div class="large-6 columns">
    
    <h1>Sign up</h1>
    
    <hr>

    <p>Use Facebook for quick and easy sign up.</p>

    <%= link_to omniauth_authorize_path("user", "facebook") do %>
      <%= image_tag "https://b6694dc98fc00ffe8b6d-3d8cead74be35266d0f147cdde9ccbfd.ssl.cf1.rackcdn.com/general/facbook-connect-button.png" %>
    <% end %>

    <hr>

    <p>If you prefer, create an account with an email address.</p>

    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <div><%= f.label :email %><br />
      <%= f.email_field :email %></div>

      <div><%= f.label :username %><br />
      <%= f.text_field :username %></div>

      <div><%= f.label :password %><br />
      <%= f.password_field :password %></div>

      <div><%= f.submit "Sign up", :class => "button radius" %></div>
    <% end %>

    <hr>

    <%= render "devise/shared/links" %>

    <hr>

    <p>By agreeing to sign up, you agree with our <%= link_to "terms of service", terms_path %>.</p>

  </div>

</div>



</section>
