<% provide(:title, "Client Story: #{@brochure.title}") %>

<% content_for :main do %>

  <h1><%= @brochure.title %></h1>

  <%= (render :partial => 'frontend/content/brochure/gallery', :locals => { :album => @brochure.album }) if @brochure.album%>

  <div class="row">
    <div class="large-8 columns">
      <h2 class="byline"><%= @brochure.short_description %></h2>

      <ul>
        <li>Area (Square Feet): <%= @brochure.area %></li>
        <li>Number of Bed: <%= @brochure.number_of_bed %></li>
        <li>Number of Bath: <%= @brochure.number_of_bath %></li>
        <li>Has loft?: <%= @brochure.has_loft == true ? 'Yes' : 'No' %></li>
      </ul>

      <%= simple_format @brochure.long_description %>

      <%= simple_format @brochure.ideal_for %>
    </div>
    <div class="large-4 columns">
      <% if false %>
      <% if @brochure.attachment %>
        <%= link_to "Download PDF", @brochure.attachment(:original), :class => "button light-blue small" %>
      <% end %>
      <hr>
      <% end %>

    </div>
  </div>


<% end %>

<% content_for :sidebar do %>
  <%= render :partial => 'frontend/content/brochure/side_nav', :locals => { :category => @brochure.category, :link_fun => Proc.new { |slug| brochure_client_with_slug_path(:slug => slug) } } %>
  <hr>
  <%= render :partial => 'frontend/inquiries/mad_lib_form' %>
<% end %>