  <% provide(:title, "Invitations") %>

<h3><%= yield(:title) %></h3>

<hr>

<ul class="button-group">
  <li><%= link_to "Send Invitation", new_crm_invitation_path, :class => "button small primary" %></li>
</ul>

<br>

<table style="width: 100%;">
  <thead>
    <tr>
      <td>Invitation sent by</td>
      <td>to</td>
      <td>with role</td>
      <td>on</td>
   </tr>
  </thead>
  <tbody>
    <% @invited_users.each do |invited_user| %>
    <tr>
      <td>
        <% if invited_user.invited_by %>
          <%= link_to invited_user.invited_by, user_profile_path(invited_user.invited_by_slug) %>
        <% else %>
          -
        <% end %>
      </td>

      <td><%= invited_user.email %></td>

      <td>
        <%= invited_user.roles.map(&:name).join(', ') %>
        <%= " for #{invited_user.vendors.first.name}"if invited_user.vendors.count == 1 %>
      </td>

      <td>
        <%= invited_user.invitation_sent_at.strftime("%Y-%m-%d") %>
      </td>

    </tr>
    <% end %>
  </tbody>
</table>
