
<% provide(:title, "Send Invitation") %>

<h3><%= yield(:title) %></h3>

<%= semantic_form_for @invitation, :as => "invitation", :url => crm_invitations_path do |f| %>
  <%= f.inputs "" do %>
    <div class="row">
      <div class="large-6 columns"><%= f.input :first_name %></div>
      <div class="large-6 columns"><%= f.input :last_name %></div>
    </div>
    <div class="row">
      <div class="large-6 columns"><%= f.input :username %></div>
      <div class="large-6 columns"><%= f.input :email, :as => :email %></div>
    </div>
    
    <%= f.input :project_role,
      :as => :radio,
      :label => "Role",
      :hint => "If you are inviting an Architect (a vendor), you can set them to be featured under Content &gt; Featured Architects.",
      :collection => Physical::Project::ProjectRole.all
    %>

  <% end %>
  <%= f.actions do %>
    <%= f.action :submit, :as => :button, :class => "small success button", :label => "Send" %>
  <% end %>
<% end %>

