<% provide(:title, "Edit Profile of #{@profile.first_name} #{@profile.last_name} | Featured Architects" ) %>

<% content_for :main do %>

<h1>Edit Profile</h1>

<%= semantic_form_for @profile, :url => featured_architect_path(:slug => @profile.user.slug), :as => 'profile' do |f| %>
  <%= f.inputs do %>
    <div class="row">
      <div class="large-6 columns"><%= f.input :first_name %></div>
      <div class="large-6 columns"><%= f.input :last_name %></div>
      <% if current_user.has_role? :admin or current_user.has_role? :vendor %>
      <div class="large-12 columns"><%= f.input :display_name, :hint => "For example: John Doe, Architect " %></div>
      <% end %>
    </div>
    <%= f.input :bio, :as => :text, :input_html => { :rows => 6 }, :label => "Bio" %>
    <hr>
    <%= f.input :avatar, :as => :file %>
    <%= image_tag @profile.avatar(:square), :class => "user-profile-picture" %>
    <hr>
    <%= f.action :submit, :as => :button, :label => 'Update', :class => "success button" %>
    <%= link_to "Cancel and go back", featured_architect_path(:slug => @profile.user.slug) %>
  <% end %>
<% end %>

<% end %>