<% provide(:title, "Featured Architects" ) %>

<% content_for :main do %>

<h1><%=yield(:title) %></h1>

<p>Whether you're looking to remodel or build a home from scratch, choosing the right architect is a crucial step in bringing your dream space to life. New Avenue makes this process simple as we've handpicked and vetted some of the best small home architects in the country to make sure your building project is both functional and beautiful. Our partner architects follow our highly-efficient design process, ensuring each step is carefully thought out with no surprises later. Below are just a few of our partners waiting to help you get your small home or backyard cottage ideas on paper.</p>

<ul class="large-block-grid-3 small-block-grid-2 featured-architects grid">
<% @featured_architect_profiles.each do |p| %>
  <li>
    <div class="tile center-text">
      <%= link_to featured_architect_with_slug_path(:slug => p.user.slug), :title => "#{p.first_name} #{p.last_name}" do %>
        <%= image_tag p.avatar(:square), :alt => "#{p.first_name} #{p.last_name}" %>
      <% end %>
      <h3><%="#{p.first_name} #{p.last_name}"%></h3>
    </div>
  </li>
<% end %>
</ul>


<% end %>

<% content_for :sidebar do %>
  <%= render :partial => 'frontend/inquiries/mad_lib_form' %>
<% end %>