<% provide(:title, "#{@profile.first_name} #{@profile.last_name} | Featured Architect" ) %>

<% content_for :sidebar do %>

<div class="tile center-text">
  <%= image_tag @profile.avatar(:square), :alt => "#{@profile.first_name} #{@profile.last_name}"  %>
</div>

<br>

<div class="center-text">
  <% if can?( :update, @profile) %>
    <%= link_to "Edit Profile", edit_featured_architect_path(@profile), :class => "button secondary small" %>
  <% end %>
</div>

<br>

<h3 class="side-nav-header">Featured Architect</h3>
<ul class="side-nav project-menu fancy-menu">
  <li><span class="pad"><i class="icon-user"></i> <%= @profile.user.username %></span></li>
  <li><span class="pad"><i class="icon-calendar"></i> Joined <%= @profile.user.created_at.strftime("%B %d, %Y") %></span></li>
  <% if @profile.website_title and @profile.website_url %>
  <li><%= link_to @profile.website_url, :target => "_blank" do %><i class="icon-link"></i> <%= @profile.website_title %><% end %></li>
  <% end %>
</ul>

<% end %>


<% content_for :main do %>

<h1 style="margin-bottom: .1em;"><%= "#{@profile.first_name} #{@profile.last_name}" %></h1>
<h3><%= "#{@profile.user.username}" %></h3>

<%= simple_format @profile.bio %>

<hr>

<div class="row">
  <div class="large-6 columns">
    <h2>Featured Work</h2>
  </div>
  <div class="large-6 columns" style="text-align:right;">
    <% if can?(:update, @profile) %>
    <%= link_to "Edit Work", edit_featured_architect_work_path(@profile), :class => "button small lightblue" %>
    <%= link_to "Upload Work", featured_architect_new_images_path(@profile), :class => "button small lightblue" %>
    <% end %>
  </div>
</div>

<ul class="large-block-grid-3 image-collection">
  <% @profile.featured_work_album.images.each do  |item| %>
  <li>
    <div class="tile <%= item.id == item.id ? "active" : "" %>">
      <%= render :partial => 'frontend/albums/album_items/show_image', :locals => { :item => item, :size => :large_square, :standalone_link => false} %>
    </div>
  </li>
  <% end %>
</ul>

<% end %>