<% provide(:title, 'Start Your Project') %>

<h1><%= yield(:title) %></h1>

<%= semantic_form_for @project, :as => :project, :url => projects_path do |f| %>
  <%= f.inputs "Tell us about it" do %>
    <%= f.input :title  %>
    <%= f.input :description %>
  <% end %>
  <%= f.actions %>
<% end  %>  