<% provide(:title, 'Start Your Project') %>

<h1><%= yield(:title) %></h1>

<%= semantic_form_for @project, :as => :project, :url => projects_path do |f| %>
<%= f.inputs "Tell us about yor project" do %>
  <%= render 'frontend/projects/projects/project_title_description_input', :f => f%>
<% end %>
<%= f.actions %>
<% end  %>