<% provide(:title, @project.title) %>

<h1><%= yield :title %></h1>

<div class="row">
  <div class="columns large-8">
    <p><%= @project.description %></p>
    <%= link_to edit_project_path(@project), :class => 'button tiny neutral' do %>
      <i class='general foundicon-edit'></i> Edit Project
    <% end %>
  </div>
  <div class="columns large-4">
    <%= @address.to_full_display %>
  </div>
</div>

<hr />

<%= render :partial => 'frontend/projects/project_items/new_post', :locals => { :project_item => Physical::Project::ProjectItem.new(:project => @project) } %>

<br />

<hr />

<div class="project-feed infinite-container">
  <%= 
    render :partial => 'frontend/projects/project_items/project_feed', 
        :locals => { 
          :project => @project,
          :project_items => @project_items,
          :next_page_url => community_path(:page => @project_items.current_page.to_i + 1, :layout => false),
          :context => "global",
          :infinite => true
        }
  %>
</div>
