<% provide(:title, @project.title) %>

<h1><%= yield :title %></h1>

<div class="row">
  <div class="columns large-8">
    <p><%= @project.description %></p>
    <%= link_to edit_project_path(@project), :class => 'button tiny neutral' do %>
      <i class='general foundicon-edit'></i> Edit Project
    <% end %>
  </div>
  <div class="columns large-4">
    <%= @address.to_full_display %>
  </div>
</div>

<hr />

<%= render :partial => 'frontend/projects/project_items/new_post', :locals => { :project_item => Physical::Project::ProjectItem.new(:project => @project) } %>

<br />

<hr />

<%= render :partial => 'frontend/projects/project_items/project_feed_with_container', :locals => { :project_items => @project_items, :project => @project, :page => 1 } %>

<script language="JavaScript">
$(document).ready( function () {
  $('.infinite-container').waypoint('infinite', {
    container: '.infinite-container',
    items: '.infinite-item',
    more: '.infinite-more-link',
    offset: 'bottom-in-view',
    loadingClass: 'infinite-loading',
    onBeforePageLoad: function () { 
      $('.infinite-load-container').fadeIn()
    },
    onAfterPageLoad: function () {
      $('.infinite-load-container').fadeOut()
    }
  });
})
</script>