<ul class="large-block-grid-3 small-block-grid-2 sortable-album-items" >
<%= f.semantic_fields_for :images do |item| %>
  <li class="item item-<%= item.object.id %>">
    <div class="tile light">
      <div class="draggable-handle vertical">Drag to Move</div>
      <%= render :partial => 'frontend/albums/album_items/show_image', :locals => { :item => item.object, :size => :large_square, :standalone_link => false, :force_size => true } %>
      <ul class="sortable-album-items-fields">
        <%= item.input :category,
            :as => :select,
            :label => false,
            :collection => options_for_select(
              Physical::Album::AlbumItemCategory.all.map { |c| [c.name, c.id] },
              item.object.category ? item.object.category_id : Physical::Album::AlbumItemCategory::UNCATEGORIZED.id
            )
        %>
        <%= item.input :description, :as => :text, :input_html => { :rows => 2 }, :label => false, :placeholder => "Description"  %>

        <%-# item.input :tag_list, :label => "Tags, comma-separated", :input_html => { :rows => 2, :class => "taggable tagit", :value => item.object.tag_list } %>
        <label for="mark_for_deletion">
          <input type="checkbox"
            name="album[images_attributes][<%= item.index %>][mark_for_deletion]"
            id="album[images_attributes][<%= item.index %>][mark_for_deletion]"
          > Mark for Deletion
        </label>
        <%= item.input :position, :as => :hidden, :class => "item-position-input" %>
      </ul>

    </div>
  </li>
<% end %>
</ul>

<script>
$(document).ready( function () {

  $('.sortable-album-items').sortable({
    placeholder: "ui-state-highlight",
    forcePlaceholderSize: true,
    handle: ".draggable-handle",
    containment: ".sortable-album-items",
    stop: function() {
      $('.sortable-album-items input[id^="album_images_attributes_"][id$="_position"] ').each( function(index, elem) {
        $(elem).attr('value',index)
      })
    }
  })

  $('.taggable').tagit({
    caseSensitive: false,
    placeholderText : 'Type new tag'
  });

});
</script>

