<!-- The file upload form used as target for the file upload widget -->
<form id="fileupload" action="<%= form_action_url %>" method="POST" enctype="multipart/form-data">

<!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->

<div class="row fileupload-buttonbar" style="margin: 0;">
    <div class="large-10">
        <!-- The loading indicator is shown during file processing -->
        <span class="fileupload-loading"></span>
    </div>
    <!-- The global progress information -->
    <div class="large-10 fileupload-progress fade">
        <!-- The global progress bar -->
        <div class="progress success active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
          <span class="bar meter" style="width:0%;"></span>
        </div>
        <!-- The extended global progress information -->
        <div class="progress-extended">&nbsp;</div>
    </div>
</div>

<div class="row">
  <div class="large-10 columns">
    <!-- The table listing the files available for upload/download -->
    <table role="presentation" class="table table-striped" style="width: 100%;"><tbody class="files" data-toggle="modal-gallery" data-target="#modal-gallery"></tbody></table>
  </div>
</div>

<!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
<div class="row fileupload-buttonbar" style="margin: 0;">
    <div class="large-10">
        <!-- The fileinput-button span is used to style the file input field as button -->
        <span class="fileinput-button">
            <input type="file" name="files[]" multiple>
        </span>

        <ul>
            <li>The maximum file size for uploads in this demo is <strong>5 MB</strong>.</li>
            <li>Only image files (<strong>JPG, GIF, PNG</strong>) are allowed.</li>
            <li>You can <strong>drag &amp; drop</strong> files from your desktop on this webpage with Chrome, Firefox and Safari.</li>
        </ul>

        <% if params.has_key? :redirect_uri %>
            <%= link_to "Go Back", params[:redirect_uri], :class => "button secondary small", :data => { :'no-turbolinks' => true } %>
        <% elsif defined? go_back_url %>
            <%= link_to "Go Back", go_back_url, :class => "button secondary small", :data => { :'no-turbolinks' => true } %>
        <% else %>
            <%= link_to "Go Back", medium_path(@album), :class => "button secondary small", :data => { :'no-turbolinks' => true } %>
        <% end %>

        <button type="submit" class="button start small">
            <i class="icon-upload icon-white"></i>
            <span>Start Upload</span>
        </button>
        
    </div>
</div>

</form>
<br>


<!-- modal-gallery is the modal dialog used for the image gallery -->
<div id="modal-gallery" class="modal modal-gallery hide fade" data-filter=":odd" tabindex="-1">
<div class="modal-header">
    <a class="close" data-dismiss="modal">&times;</a>
    <h3 class="modal-title"></h3>
</div>
<div class="modal-body"><div class="modal-image"></div></div>
<div class="modal-footer">
    <a class="btn modal-download" target="_blank">
        <i class="icon-download"></i>
        <span>Download</span>
    </a>
    <a class="btn btn-success modal-play modal-slideshow" data-slideshow="5000">
        <i class="icon-play icon-white"></i>
        <span>Slideshow</span>
    </a>
    <a class="btn btn-info modal-prev">
        <i class="icon-arrow-left icon-white"></i>
        <span>Previous</span>
    </a>
    <a class="btn btn-primary modal-next">
        <span>Next</span>
        <i class="icon-arrow-right icon-white"></i>
    </a>
</div>
</div>
<!-- The template to display files available for upload -->
<script id="template-upload" type="text/x-tmpl">
{% for (var i=0, file; file=o.files[i]; i++) { %}
<tr class="template-upload fade">
    <td>
        <span class="preview"></span>
    </td>
    <td>
        <p class="name">File: {%=file.name%}</p>
        <p class="progress-note"></p>

        <label for="category">Select a category:
            <select name="album_item[category_id]">
                <%= Physical::Album::AlbumItemCategory.all.each do |c| %>
                    <%= raw "<option value='#{c.id}'>#{c.name}</option>" %>
                <% end %>
            </select>
        </label>

        <label for="description"><span class="hidden">Description</span>
        <textarea name="album_item[description]" placeholder="Say something about this. Add a description, title, or comment." rows="3" required></textarea>
        </label>

        {% if (file.error) { %}
            <div><span class="label label-important">Error</span> {%=file.error%}</div>
        {% } %}
    </td>
    <td>
        <p class="size">{%=o.formatFileSize(file.size)%}</p>
        {% if (!o.files.error) { %}
          <div class="progress success active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0"><span class="bar meter" style="width:0%;"></span></div>
        {% } %}
    </td>
    <td>
        {% if (!o.files.error && !i && !o.options.autoUpload) { %}
            <button class="button small start hidden">
                <i class="icon-upload icon-white"></i>
                <span>Start</span>
            </button>
        {% } %}
        {% if (!i) { %}
            <button class="button small neutral cancel" style="padding-right: 0;"><i class="general foundicon-remove"></i></button>
        {% } %}
    </td>
</tr>
{% } %}
</script>
<!-- The template to display files available for download -->
<script id="template-download" type="text/x-tmpl">
{% for (var i=0, file; file=o.files[i]; i++) { %}
<tr class="template-download fade item-{%=file.item_id%}">
    <td>
        <span class="preview">
            {% if (file.thumbnail_url) { %}
                <p><a href="{%=file.url%}" title="{%=file.name%}" data-gallery="gallery" download="{%=file.name%}"><img src="{%=file.thumbnail_url%}" style="width: 80px;"></a></p>
            {% } %}
        </span>
    </td>
    <td>

        <p class="name hidden">
            <h6><a href="{%=file.url%}" title="{%=file.name%}" data-gallery="{%=file.thumbnail_url&&'gallery'%}" download="{%=file.name%}">{%=file.name%}</a></h6>
        </p>
        {% if (file.error) { %}
            <div><span class="label label-important">Error</span> {%=file.error%}</div>
        {% } else { %}
            <p>Upload complete.</p>
        {% } %}
    </td>
    <td>
        <span class="size">{%=o.formatFileSize(file.size)%}</span>
    </td>
    <td></td>
</tr>
{% } %}
</script>



<%= javascript_include_tag "tmpl.min.js" -%>
<%= javascript_include_tag "load-image.min.js" -%>
<%= javascript_include_tag "canvas-to-blob.min.js" -%>
<%= javascript_include_tag "cors/jquery.postmessage-transport.js" -%>
<%= javascript_include_tag "cors/jquery.xdr-transport.js" -%>

<% %w(iframe-transport fileupload fileupload-process fileupload-image fileupload-resize fileupload-validate fileupload-ui ).each do |f| %>
<%= javascript_include_tag "jquery.#{f}.js" %>
<% end %>

<script language="JavaScript">
$(document).ready( function () {

$(function () {
// Initialize the jQuery File Upload widget:
$('#fileupload').fileupload({
    autoUpload: false,
    acceptFileTypes: /(\.|\/)(gif|jpe?g|png)$/i,
    maxFileSize: 5000000,
    progress: function (e, data) {
        if (data.context) {
            var progress = Math.floor(data.loaded / data.total * 100);
            data.context.find('.progress')
                .attr('aria-valuenow', progress)
                .find('.bar').css(
                    'width',
                    progress + '%'
                );
            if (progress == 100) {
              data.context.find('.progress-note')
                .html("<img src='/assets/icons/loading-green-circle.gif' /> Validating and processing thumbnails...")
            }
        }
    }
});
});

});
</script>


