<!-- item content -->
<div class="screen">
  <div class="screen-content-wrapper">
    <div class="screen-content-centerer loading-container">
    <%= image_tag @item.get_attachment2(:large), :class => "screen-featured-image" %>
    </div>
  </div>
</div>

<!-- nav -->
<% p = @item.get_image_position_info %>
<div class="previous nav-button <%= p[:previous_id] ? "" : "hidden" %>">
  <% if p[:previous_id] %>
    <%= link_to item2_path(:id => p[:previous_id], :slug => p[:previous_slug]), :remote => true, :class => "display-theater" do %><i class="previous-theater-button"></i><% end %>
  <% end %>
</div>
<div class="next nav-button <%= p[:next_id] ? "" : "hidden" %>">
  <% if p[:next_id] %>
    <%= link_to item2_path(:id => p[:next_id], :slug => p[:next_slug]), :remote => true, :class => "display-theater" do %><i class="next-theater-button"></i><% end %>
  <% end %>
</div>

<!-- screen footer -->
<div class="screen-footer">
  <div class="screen-footer-content-wrapper blank-loader pad center-text">
    <ul class="button-group" style="display: inline-block;">
      <% 
        share_url = "#{request.protocol}#{Rails.application.config.domain_settings[:host]}#{item2_path(:id => @item.id, :slug => @item.slug)}"
        share_title = @item.title
        share_image = @item.get_attachment2(:large_square)
        share_description = @item.description

        facebook_share_url = "http://www.facebook.com/sharer/sharer.php?s=100&p[url]=#{share_url}&p[images][0]=#{share_image}&p[title]=#{share_title}"
        twitter_share_url = "http://twitter.com/home?status=#{share_url}"
      %>
      <li><%= render :partial => 'frontend/albums/album_items/save_to_my_project_button', :locals => { :album_item_id => @item.id, :btn_class => "" } %></li>
      <li><a href="#" onClick="share_popup(600,600,'<%=facebook_share_url%>')" class="button secondary radius"><i class="social foundicon-facebook"></i></a></li>
      <li><a href="#" onClick="share_popup(600,600,'<%=twitter_share_url%>')" class="button secondary radius"><i class="social foundicon-twitter"></i></a></li>
      <li><%= link_to item2_path(:id => @item.id, :slug => @item.slug), :class => "button secondary radius" do %><i class="icon-link" style="display:inline-block;height:13px;"></i><% end %></li>
    </ul>
  </div>
</div>

<!-- sidebar -->
<div class="screen-sidebar">
  <div class="screen-sidebar-content-wrapper pad blank-loader">
    
    <div class="row">

      <div class="large-12 columns">
        
        <!-- item title -->
        <% if !@item.title.blank? %><h6><%= @item.title %></h6><% end %>
        
        <!-- item meta -->
        <p>
          <%= link_to @item.album.get_parent_uri do %> <i class="icon-home"></i> <%= @item.album.get_title %><% end %><br />
          <% if @item.category %>
          <%= link_to community_path + "?icat=#{@item.category.name}" do %> <i class="icon-tag"></i> <%= @item.category.name %> <% end %>
          <% end %>
        </p>
        
        <!-- description/comment -->
        <% if not @item.description.blank? %><%= simple_format @item.description %><% end %>
        
      </div>


      <!-- neighboring images-->
      <div class="large-12 columns">


        <p>More ideas in this project:</p>
        <ul class="large-block-grid-4 image-collection">
          <% @item.get_neighboring_images(8).each do |sibling| %>
          <li>
            <div class="tile <%= sibling.id == @item.id ? "active" : "" %>">
              <%= render :partial => 'frontend/albums/album_items/show_image', :locals => { :item => sibling, :size => :small_square, :standalone_link => false, :show_save_button => false, :force_size => true} %>
            </div>
          </li>
          <% end %>
        </ul>
      </div>

      <!-- ideas also saved by others -->
      <% if @item.get_items_also_saved_by_others.count > 0 %>
      <div class="large-12 columns">
        <hr>
        <p>People who saved this idea also saved:</p>
        <ul class="large-block-grid-4 image-collection">
        <% @item.get_items_also_saved_by_others.each do |ai| %>
          <li>
            <div class="tile <%= ai.id == @item.id ? "active" : "" %>">
              <%= render :partial => 'frontend/albums/album_items/show_image', :locals => { :item => ai, :size => :small_square, :standalone_link => false, :show_save_button => false, :force_size => true} %>
            </div>
          </li>
        <% end %>
        </ul>
      </div>
      <% end %>

      
      <!-- projects that also saved this idea -->
      <% if @item.get_projects_that_also_clipped_item.count %> 
      <div class="large-12 columns">
        <hr>
        <p>Idea was saved in <strong><%= @item.get_projects_that_also_clipped_item.count %></strong> other projects.</p>
        <ul>
        <% @item.get_projects_that_also_clipped_item[0..9].each do |project| %>
          <li><%= link_to project.title, project_path(project) %></li>
        <% end %>
          <% if @item.get_projects_that_also_clipped_item.count > 10 %>
            <li>and more.</li>
          <% end %>
        </ul>
      </div>
      <% end %>

    </div>
  </div>

</div>

<!-- sidebar footer -->
<div class="screen-sidebar-footer">
  <div class="screen-sidebar-footer-wrapper pad blank-loader"></div>
</div>