<%
# VARIABLES
# => item
# => size: :small_square, :medium_square, :large, :original
# => klass
# => standalone_link (if false, triggers show theater)
# => disable_link (if true, show only the image)
# => show_save_button

# EXAMPLE USAGE
# render :partial => 'frontend/albums/album_items/show_image', :locals => { :item => @item, :size => :small_square, :klass => "item-thumb", :standalone_link => true, :disable_link => false}

disable_link = false if not defined? disable_link
klass = '' if not defined? klass
show_save_button = true if not defined? show_save_button
force_size = false if not defined? force_size # set item image as background image with size cover

%>

<% if force_size %>
<div class="item-image-container size-<%= size %> force-size force-square" style="background-image: url('<%= item.get_attachment2(size) %>');">
<% else %>
<div class="item-image-container size-<%= size %>">
<% end %>

<% if disable_link != true %>

  <% if standalone_link %>

    <%= link_to item2_path(:id => item.id, :slug => item.slug), :title=> item.title do %>
      <%= image_tag item.get_attachment2(size), :class => klass %>
    <% end %>

  <% else %>

    <%= link_to item2_path(:id => item.id, :slug => item.slug), :remote => true, :class => "display-theater" do %>
      <%= image_tag item.get_attachment2(size), :class => klass %>
    <% end %>

    <% if show_save_button %>
      <div class="hover-button-container">
        <%= render :partial => 'frontend/albums/album_items/save_to_my_project_button', :locals => { :album_item_id => item.id, :btn_class => "" } %>
      </div>
    <% end %>

  <% end %>

<% else %>
  
  <%= image_tag item.attachment(size), :class => klass %>

<% end %>

</div>