<!-- item content -->
<div class="screen">
  <div class="screen-content-wrapper">
    <div class="screen-content-centerer loading-container">
    <%= image_tag @item.asset.image(:original), :class => "screen-featured-image", :data => {:caption => @item.asset.image.url} %>
    </div>
  </div>
</div>

<!-- nav -->
<% p = @item.get_image_position_info %>
<div class="previous nav-button <%= p[:previous_id] ? "" : "hidden" %>">
  <% if p[:previous_id] %>
    <%= link_to item2_path(:id => p[:previous_id], :slug => p[:previous_slug]), :remote => true, :class => "display-theater" do %><i class="previous-theater-button"></i><% end %>
  <% end %>
</div>
<div class="next nav-button <%= p[:next_id] ? "" : "hidden" %>">
  <% if p[:next_id] %>
    <%= link_to item2_path(:id => p[:next_id], :slug => p[:next_slug]), :remote => true, :class => "display-theater" do %><i class="next-theater-button"></i><% end %>
  <% end %>
</div>

<!-- screen footer -->
<div class="screen-footer">
  <div class="screen-footer-content-wrapper blank-loader pad center-text">
    <ul class="button-group" style="display: inline-block;">
      <li>
        <%= link_to (current_user == nil ? join_path : new_project_item_path(:project_id => -1, :album_item_id => @item.id )), :class => "button small radius display-save-album-image-prompt display-prompt-modal",  :remote => current_user != nil do %>
          <i class="general foundicon-heart"></i>Save to my project
        <% end %>
      </li>
      <li>
        <%= link_to item2_path(:id => @item.id, :slug => @item.slug), :class => "button small secondary radius" do %>
          <i class="general foundicon-page"></i>Permalink
        <% end %>
      </li>
      <li><%= link_to "#", :class => "button small secondary radius icon-only" do %><i class="social foundicon-facebook"></i><% end %></li>
      <li><%= link_to "#", :class => "button small secondary radius icon-only" do %><i class="social foundicon-twitter"></i><% end %></li>
      <li><%= link_to "#", :class => "button small secondary radius icon-only" do %><i class="social foundicon-pinterest"></i><% end %></li>
    </ul>
  </div>
</div>

<!-- sidebar -->
<div class="screen-sidebar">
  <div class="screen-sidebar-content-wrapper pad blank-loader">
    <p></p>
    <% if !@item.title.blank? %><h6><%= @item.title %></h6><% end %>
    <% item_owner = @item.album.parent %>
    <h6><%= link_to @item.album.title, media_path(@item.album) %></h6>

    <p><% if not @item.description.blank? %><%= simple_format @item.description %><% end %></p>

    <p><% if @item.tag_list %>Tags: <%= @item.tag_list %><% end %></p>

    <% if item_owner.class.to_s == "Physical::Vendor::Vendor" %>
      <table class="vertical-middle">
        <tbody>
          <tr>
            <td>
              <%= link_to vendor_profile_path(:slug => item_owner.slug), :title => item_owner.name do %>
                <%= image_tag item_owner.logo(:tiny), :style => "max-width: 70px;", :alt => item_owner.name %>
              <% end %>
            </td>
            <td>
              <h6><%= link_to item_owner.name, vendor_profile_path(:slug => item_owner.slug) %></h6>
            </td>
          </tr>
        </tbody>
      </table>
    <% end %>

    <div class="row">

      <!-- more images-->
      <div class="large-12 columns">
        <h6>More in this album:</h6>
        <ul class="large-block-grid-4 image-collection">
          <% @item.album.images.each do |sibling| %>
          <% if sibling.asset %>
          <li>
            <div class="tile <%= sibling.id == @item.id ? "active" : "" %>">
            <%= link_to item2_path(:id => sibling.id, :slug => sibling.slug), :remote => true, :class => "display-theater" do %>
              <%= image_tag sibling.asset.image(:small_square) %>
            <% end %>
            </div>
          </li>
          <% else %>
          <li><%= sibling.id %></li>
          <% end %>
          <% end %>
        </ul>
      </div>

    </div>

  </div>

</div>

<!-- sidebar footer -->
<div class="screen-sidebar-footer">
  <div class="screen-sidebar-footer-wrapper pad blank-loader"></div>
</div>