<% provide(:title, @item.title) %>

<% provide(:action_buttons) do %>
<ul class="button-group" style="display: inline-block;">
  <li><%= render :partial => 'frontend/albums/album_items/save_to_my_project_button', :locals => { :album_item_id => @item.id, :btn_class => "" } %></li>
  <li><%= render :partial => 'frontend/content/brochure/social_buttons', :locals => { } %></li>
</ul>
<% end %>



<br>
<div class="section" id="theater-page" style="margin-bottom: 1em; ">

  <div class="row">

    <!-- screen -->
    <div class="large-12 small-12 columns screen">
      <%= image_tag @item.get_attachment2(:large), :class => "screen-featured-image"%>

      <!-- nav -->
      <% p = @item.get_image_position_info %>
      <div class="previous nav-button <%= p[:previous_id] ? "" : "hidden" %>">
        <% if p[:previous_id] %>
          <%= link_to item2_path(:id => p[:previous_id], :slug => p[:previous_slug]) do %><i class="previous-theater-button"></i><% end %>
        <% end %>
      </div>
      <div class="next nav-button <%= p[:next_id] ? "" : "hidden" %>">
        <% if p[:next_id] %>
          <%= link_to item2_path(:id => p[:next_id], :slug => p[:next_slug]) do %><i class="next-theater-button"></i><% end %>
        <% end %>
      </div>

    </div>
    
    <div class="large-6 small-12 columns">

      <!-- action buttons -->
      <div class="show-for-small" style="text-align: center; margin-bottom: .5em; "><%= yield(:action_buttons) %></div>

      <!-- item title -->
      <% if !@item.title.blank? %><h6><%= @item.title %></h6><% end %>

      <!-- project title -->
      <% item_owner = @item.album.parent %>
      <p class="center-for-small"> <i class="icon-home"></i> <%= link_to @item.album.get_title, @item.album.get_parent_uri %></p>

      <!-- description/comment -->
      <% if not @item.description.blank? %><%= simple_format @item.description %><% end %>

    </div>
    
    <div class="large-6 small-12 columns">

      <!-- action buttons -->
      <div class="hide-for-small"><%= yield(:action_buttons) %></div>

      <hr>

      <!-- more images-->
      <h6>More in this project:</h6>
      <ul class="large-block-grid-4 small-block-grid-4 image-collection">
        <% @item.get_neighboring_images(8).each do |sibling| %>
        <li>
          <div class="tile <%= sibling.id == @item.id ? "active" : "" %>">
            <%= render :partial => 'frontend/albums/album_items/show_image', :locals => { :item => sibling, :size => :small_square, :klass => "item-thumb", :standalone_link => true, :show_save_button => false, :force_size => true  } %>
          </div>
        </li>
        <% end %>
      </ul>
    </div>

    <!-- projects that also saved this idea -->
    <div class="large-6 small-12 columns">
      <% if @item.get_projects_that_also_clipped_item.count %> 
      <hr>
      <p>Idea was saved in <strong><%= @item.get_projects_that_also_clipped_item.count %></strong> other projects.</p>
      <ul>
      <% @item.get_projects_that_also_clipped_item.each do |project| %>
        <li><%= link_to project.title, project_path(project) %></li>
      <% end %>
      </ul>
      <% end %>
    </div>

    <!-- ideas also saved by others -->
    <div class="large-6 small-12 columns">
      <% if @item.get_items_also_saved_by_others.count > 0 %>
      <hr>
      <p>People who saved this idea also saved</p>
      <ul class="large-block-grid-4 small-block-grid-4 image-collection">
      <% @item.get_items_also_saved_by_others.each do |ai| %>
        <li>
          <div class="tile <%= ai.id == @item.id ? "active" : "" %>">
            <%= render :partial => 'frontend/albums/album_items/show_image', :locals => { :item => ai, :size => :small_square, :standalone_link => true, :show_save_button => false, :force_size => true} %>
          </div>
        </li>
      <% end %>
      </ul>
      <% end %>
    </div>



  </div>

</div>