<%= provide(:title, "Featured Architects") %>

<h1><%= yield(:title) %></h1>

<p>To feature an architect, send an <%= link_to "invitation", new_crm_invitation_path %> with user role set to <b>vendor</b>. When the vendor user accepts the invitation and sets a password for th eaccount, the user will appear here. Click on <b>Edit</b> to enable an Architect Profile for that user.</p>

<table>
  <thead>
    <th>Vendor Name</th>
    <th>Feature As Architect</th>
    <th>Position</th>
    <th></th>
  </thead>
  <tbody>
    <% @profiles.each do |profile| %>
      <% user = profile.user %>
      <tr>
        <td><%= link_to "#{profile.first_name} #{profile.last_name} (#{user.username})", user.slug.blank? ? profile_path(user) : user_profile_path(:username_slug => user.slug) %></td>
        <td><%= profile.is_featured_architect == true %></td>
        <td><%= profile.featured_architect_position %></td>
        <td><%= link_to "Edit", edit_crm_featured_architect_path(profile), :class => "button small" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

