<% provide(:title, "Design Examples") %>


<% content_for :main do %>

  <h1><%=yield(:title) %></h1>

  <p>
    A great way to simplify the process of building a small home or backyard cottage is to choose a design that's already been used and tested by others and then add customizations to meet your needs. We've worked with our <%= link_to "partner architects", featured_architects_path %> to design specific floor plans that meet the needs of most of our clients whether they want a very small traditional cottage for their backyard or a larger, more modern unit to live in and entertain guests. Big or small, modern or traditional, live or work space, we have a beautiful option for you. And if what you see doesn't exactly meet your needs, our architects will work efficiently to incorporate your ideas into the next best thing. And if you can't find anything close to the small house you have in mind? We're happy to design it from scratch. Take a look below first, though, just in case we can help speed the process of building a new small home for you.
  </p>

  <% @brochures.each do |c| %>
    <% if c.is_published %>
    <div class="row">
      <div class="large-3 columns small-12">
        <%= link_to brochure_floorplan_with_slug_path(:slug => c.slug), :title => c.title, :class => "link-block hide-for-small" do %>
          <%= image_tag c.cover_image(:medium_square),:title => c.title, :alt => c.title %>
        <% end %>
      </div>
      <div class="large-9 columns small-12">

        <h4 class="hide-for-small"><%= link_to c.title, brochure_floorplan_with_slug_path(:slug => c.slug) %></h4>

        <div class="row">
        <div class="small-4 columns show-for-small">
          <%= link_to brochure_floorplan_with_slug_path(:slug => c.slug), :title => c.title, :class => "link-block" do %>
            <%= image_tag c.cover_image(:medium_square),:title => c.title, :alt => c.title %>
          <% end %>
        </div>
        <div class="small-8 columns show-for-small">
          <h4 class="show-for-small"><%= link_to c.title, brochure_floorplan_with_slug_path(:slug => c.slug) %></h4>
          <ul>
            <li>Area, sq. ft.: <%= c.area %></li>
            <li># Bed: <%= c.number_of_bed %></li>
            <li># Bath: <%= c.number_of_bath %></li>
            <li>Has loft? <%= c.has_loft ? "Yes" : "No" %></li>
          </ul>
        </div>

        <div class="small-12 columns" style="margin-top: 1em;">
          <ul class="hide-for-small">
            <li>Area, sq. ft.: <%= c.area %></li>
            <li># Bed: <%= c.number_of_bed %></li>
            <li># Bath: <%= c.number_of_bath %></li>
            <li>Has loft? <%= c.has_loft ? "Yes" : "No" %></li>
          </ul>
        <%= simple_format c.short_description %>
        </div>
        </div>

      </div>
    </div>
    <hr> 
    <% end %>
  <% end %>


<% end %>

<% content_for :sidebar do %>
  <%= render :partial => 'frontend/inquiries/mad_lib_form' %>
<% end %>