<% content_for :content do %>

<br />

<section>

  <div class="row">

    <div class="large-10 push-2 columns">
    <%= yield %>
    </div>

    <div class="large-2 pull-10 columns">

      <% if @user == current_user %>
        Welcome to your profile!
      <% else %>
        Welcome to the profile of <%= @user.username %>
      <% end %>

      <ul class="side-nav">
        <li><%= active_link_to 'Your Profile', '#', :wrap_tag => :li %></li>
        <li><%= active_link_to 'A Link', '#', :wrap_tag => :li %></li>
        <li><%= active_link_to 'Another Link', '#', :wrap_tag => :li %></li>
      </ul>
    </div>

  </div>

</section>

<% end %>

<%= render :template => 'layouts/application' %>