<% provide(:title, 'Sign in') %>

<section class="page-content">

<div class="row">
  <div class="large-6 columns">

    <h1>Sign in</h1>

    <hr>

    <p>Use Facebook for quick and easy sign in.</p>

    <%= link_to omniauth_authorize_path("user", "facebook") do %>
      <%= image_tag "https://b6694dc98fc00ffe8b6d-3d8cead74be35266d0f147cdde9ccbfd.ssl.cf1.rackcdn.com/general/facbook-connect-button.png" %>
    <% end %>

    <hr>

    <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
      <div><%= f.label :email %><br />
      <%= f.email_field :email, :autofocus => true %></div>

      <div><%= f.label :password %><br />
      <%= f.password_field :password %></div>

      <% if devise_mapping.rememberable? -%>
        <div><%= f.check_box :remember_me, :style => "display: inline-block;" %> <%= f.label :remember_me, :style => "display: inline-block;" %></div>
      <% end -%>

      <div><%= f.submit "Sign in", :class => "button radius" %></div>
    <% end %>

    <hr>

    <%= render "devise/shared/links" %>

    <hr>

    <p>By agreeing to sign up, you agree with our <%= link_to "terms of service", terms_path %>.</p>

  </div>
</div>

</section>