<% content_for :main do %>


<% provide(:title, "Edit Profile") %>

<h1><%= yield(:title) %></h1>

<%= semantic_form_for @profile, :as => :profile, :url => profile_path(@user), :method => "patch" do |f| %>
  <%= f.semantic_fields_for :user do |u|  %>
    <%= u.input :username %>
    <%= u.input :email %>
  <% end %>
  <div class="row">
    <div class="large-6 columns"><%= f.input :first_name %></div>
    <div class="large-6 columns"><%= f.input :last_name %></div>
    <div class="large-12 columns">
      <p class="inline-hints">
        Your name will not be publicly visible.
      </p>
    </div>
  </div>
  <%= f.input :bio, :as => :text, :input_html => { :rows => 4 }, :label => "Bio" %>
  <%= f.input :avatar, :as => :file, :label => "Profile Picture" %>

  <br />
  
  <%= f.action :submit, :as => :button, :label => 'Update', :class => "success button" %>
  <%= link_to "Cancel and go back", user_profile_path(@user.slug) %>
<% end %>

<% end %>