<% content_for :content do %>

<br>

<section class="user-profile">

  <div class="row">

    <!-- content -->
    <div class="large-9 push-3 columns">

      <% provide :title do %>
        <% if @user.has_role? :vendor %>
          <h1>
            <% if !@profile.full_name.blank? %>
              <%= @profile.full_name %> (<%= @user.username %>)
            <% else %>
              <%= @user.username %>
            <% end %>
          </h1>
          <div class="hide-for-small"><p>of <% @user.vendors.each do |vendor| %><%= link_to vendor.name, vendor_profile_path(vendor.slug) %><% end %></p></div>
        <% else %>
          <h1><%= @user.username %></h1>
        <% end %>
      <% end %>

      <% provide :companies do %>
        <% if @user.has_role?(:vendor) and @user.vendors.count > 0 %>
          <!-- companies -->
          <table class="vertical-middle">
            <tbody>
              <% @user.vendors.each do |vendor| %>
              <tr>
                <td><%= link_to vendor_profile_path(:slug => vendor.slug) do %><%= image_tag vendor.logo(:tiny) %><% end %></td>
                <td><%= link_to vendor_profile_path(:slug => vendor.slug) do %><%= vendor.name %><% end %></td>
              </tr>
              <% end %>
            </tbody>
          </table>
        <% end %>
      <% end %>

      <% provide :nav do %>
        <ul class="side-nav">
          <% if can? :update, @user.profile %>
            <li><%= link_to edit_profile_path(@user) do %><i class="general foundicon-edit"></i>Edit Personal Profile<% end %></li>
            <li class="divider"></li>
            <li><%= active_link_to 'Contracts', '#', :wrap_tag => :li %></li>
            <li class="divider"></li>
            <li><%= active_link_to 'Invoices', '#', :wrap_tag => :li %></li>
            <li class="divider"></li>
          <% end %>
        </ul>
      <% end %>

      <!-- profile picture @small -->
      <div class="show-for-small center-text"><%= image_tag @user.profile.avatar(:square) %><p></p></div>

      <!-- name -->
      <div class="show-for-small center-text"><%= yield(:title )%></div>
      <div class="hide-for-small"><%= yield(:title )%></div>

      <!-- companies -->
      <div class="show-for-small"><%= yield(:companies) %></div>

      <!-- nav -->
      <div class="show-for-small"><%= yield(:nav) %></div>

      <% if !@profile.bio.blank? %>
        <div><%= simple_format @profile.bio %></div>
      <% end %>

      <hr>

      <!-- New Project Button -->
      <% if @user.object == current_user %>
        <%= link_to new_project_path, :class => 'button small' do %><i class='general foundicon-plus'></i>New Project<% end %>
        <hr>
      <% end %>

      <!-- Project List -->

      <% if @user.projects.count > 0 %>
      <ul class="large-block-grid-3">
          <% @user.projects.order('title ASC').each do |p| %>
            <li>
              <div class="tile">
                <%= link_to project_path(p) do %>
                <div class="row">
                  <% img1, img2, img3, img4 = p.primary_album.images[0..3] %>
                  <div class="columns large-12 small-12 project-cover-img1 project-cover-img" >
                    <span style="display: block; height: 160px; background-image: <%= "url('#{img1.get_attachment2(:medium_square)}')" if img1 %>;"></span>
                  </div>
                  <div class="columns large-4 small-4 project-cover-img2 project-cover-img" >
                    <span style="display: block; height: 40px; width: 100%; background-image: <%= "url('#{img2.get_attachment2(:small_square)}')" if img2 %>;;"></span>
                  </div>
                  <div class="columns large-4 small-4 project-cover-img3 project-cover-img" >
                    <span style="display: block; height: 40px; width: 100%; background-image: <%= "url('#{img3.get_attachment2(:small_square)}')" if img3 %>;;"></span>
                  </div>
                  <div class="columns large-4 small-4 project-cover-img4 project-cover-img" >
                    <span style="display: block; height: 40px; width: 100%; background-image: <%= "url('#{img4.get_attachment2(:small_square)}')" if img4 %>;;"></span>
                  </div>
                </div>
                <% end %>
                <h3><%= link_to p.title, project_path(p) %></h3>
              </div>
            </li>
          <% end %>
      </ul>
      <br />
      <% else %>
        <p>No projects found.</p>
      <% end %>

    </div>

    <!-- sidebar -->
    <div class="large-3 pull-9 columns">

      <!-- profile picture -->
      <div class="hide-for-small"><%= image_tag @user.profile.avatar(:square) %><p></p></div>

      <!-- companies -->
      <div class="hide-for-small"><%= yield(:companies) %></div>

      <!-- nav -->
      <div class="hide-for-small"><%= yield(:nav) %></div>

    </div>

  </div>

</section>

<% end %>

<%= render :template => 'layouts/application' %>