<% provide :title do %>
  <% if @user.has_role? :vendor %>
    <h3>
      <% if !@profile.full_name.blank? %>
        <%= @profile.full_name %> (<%= @user.username %>)
      <% else %>
        <%= @user.username %>
      <% end %>
    </h3>
    <p>of <% @user.vendors.each do |vendor| %><%= link_to vendor.name, vendor_profile_path(vendor.slug) %><% end %></p>
  <% else %>
    <h3><%= @user.username %></h3>
  <% end %>
<% end %>

<%= yield(:title )%>

<% if !@profile.bio.blank? %>
  <%= simple_format @profile.bio %>
<% else %>
  <p>No bio information provided.</p>
<% end %>

<% if can? :update, @user.profile %>
  <%= link_to "Edit Profile", edit_profile_path(@user), :class => "button secondary small" %>
<% end %>


<p></p>

<% if false %>

  <hr>

  <!-- Project List -->

  <% project_count = @user.object && @user.project_count | 0 %>

  <% if @user.object == current_user and current_user.has_role? :customer %>

    <% if project_count == 0 %>
      <%= link_to new_project_path, :class => 'button' do %>
        <i class='general foundicon-plus'></i>Start Your First Project
      <% end %>
    <% else %>
      
      <ul class="large-block-grid-2">
        <% @user.projects.each do |p| %>
          <li>
            <h3><%= link_to p.title, project_path(p) %></h3>
            <p><%= truncate(p.description, :length => 50) %></p>
          </li>
        <% end %>      
      </ul>

      <%= link_to new_project_path, :class => 'button' do %>
        <i class='general foundicon-plus'></i>New Project
      <% end %>
      
    <% end %>
    
  <% else %>

    <p>No Projects.</p>

  <% end %>

<% end %>