<div class="new-post-container" data-project-id="<%= project_item.project_id %>">

  <%= semantic_form_for project_item, :as => 'project_item', :url => project_item_index_path(:project_id => project_item.project_id), :remote => true do |f| %>

    <%= f.input :project_id, :as => :hidden, :required => true, :value => project_item.project_id %>

    <%= f.input :body,
      :label => false,
      :placeholder => "What is on your mind?",
      :input_html => { :rows => 2 }
    %>
    
    <div class="row">
      <div class="columns large-6">
        <%= link_to project_new_images_path(project_item.project_id), :class => "button secondary add-picture small" do %><i class="icon-camera"></i><% end %>
      </div>
      <div class="columns large-6">
        <input class="small button pull-right" data-disable-with="Posting..." name="commit" type="submit" value="Post">
      </div>
    </div>
    
  <% end %>

</div>


<script>
$(document).ready( function () {
  $('.formtastic#new_project_item')
    .on('ajax:error', function (xhr) {
      
    })
    .on('ajax:success', function (evt,data,status,xhr) {
      $(this).find('#project_item_body').val('')
    })
});
</script>