<div class="row">
  <div class="large-1 columns">
    <%= link_to user_profile_path(:username_slug => project_item.user.username) do %>
      <%= image_tag user_icon_for(project_item.user, :small), :class => "user-avatar tiny" %> 
    <% end %>
  </div>
  <div class="large-11 columns">

    <% case project_item.category %>
      <% when "text" %>

        <p><%= project_item.body %></p>

      <% when "clipped_picture", "uploaded_picture" %>

        <% project_item.project_item_assets.each do |pia| %>
          <% item = pia.album_item %>

          <p>
            <b><%= link_to project_item.user.username, user_profile_path(:username_slug => project_item.user.username) %></b>
            <% if project_item.category == "clipped_picture" %>
              clipped a picture from <%= link_to item.root.album.parent.title, medium_path(:id => item.root.album.parent.id) %>.
            <% else %>
              uploaded a picture.
            <% end %>
          </p>

          <p><%= project_item.body %></p>

          <%= link_to item2_path(:id => item.id, :slug => item.slug, :format => :js), :remote => true, :title=> item.title, :class => "display-theater hide-for-small" do %>
            <%= image_tag item.asset.image(:medium_square) if item.asset %>
          <% end %>

        <% end %>

        <p>
          Like &middot; Share &middot; Save &middot; <%= project_item.created_at %>
        </p>

      <% when "milestone" %>

    <% end %>



  </div>
</div>
<hr>