<div class="project-feed-item-wrapper">
  <div class="row project-feed-item infinite-item" data-project-feed-item-id="<%= project_item.id %>">
    <div class="large-1 small-2 columns">
      <%= link_to user_profile_path(:username_slug => project_item.user.slug) do %>
        <%= image_tag user_icon_for(project_item.user, :small), :class => "user-avatar small" %> 
      <% end %>
    </div>
    <div class="large-11 small-10 columns">

      <% case project_item.category %>
        <% when "text" %>

          <p>
            <b><%= link_to project_item.user.username, user_profile_path(:username_slug => project_item.user.username) %></b>
          </p>
          
          <p><%= project_item.body %></p>

          <p>
            Like &middot; Share &middot; Save &middot; <%= time_ago_in_words project_item.created_at %> ago
          </p>

        <% when "clipped_picture", "uploaded_picture" %>

          <% project_item.project_item_assets.each do |pia| %>
            <% item = pia.album_item %>
            <%= "Looking at album_item #{item.id}" %>
            <% if item %>

            <p>
              <b><%= link_to project_item.user.username, user_profile_path(:username_slug => project_item.user.slug) %></b>
              <% if project_item.category == "clipped_picture" %>

                <% if item.parent.album.parent %>
                  clipped a picture from <%= link_to item.parent.album.parent.title, project_path(:id => item.parent.album.parent.id) %><% if item.description.blank? %>.<% end %>
                <% else %>
                  clipped a picture from a design book that no longer exists<% if item.description.blank? %>.<% end %>
                <% end %>
              <% else %>
                uploaded a picture<% if item.description.blank? %>.<% end %>
              <% end %>
               <%= "and said: " + item.description.html_safe unless item.description.blank? %>
            </p>

            <p><%= project_item.body %></p>

            <%-# if screen large enough, show modal. otherwise, show standalone page -%>

            <%= item.get_attachment2(:small_square) %>
            <%= item.get_attachment2(:medium_square) %>
            <%= item.get_attachment2(:large_square) %>
            <%= item.get_attachment2(:small_rectangle) %>
            <%= item.get_attachment2(:medium_rectangle) %>
            <%= item.get_attachment2(:tall_large_rectangle) %>
            <%= item.get_attachment2(:large) %>

            <%= link_to item2_path(:id => item.id, :slug => item.slug, :format => :js), :remote => true, :title=> item.title, :class => "display-theater hide-for-small" do %>
              <%= image_tag item.get_attachment2(:medium_square) if item.attachment_type == "image" %>
            <% end %>

            <%= link_to item2_path(:id => item.id, :slug => item.slug, :format => :html), :title=> item.title, :class => "show-for-small" do %>
              <%= image_tag item.get_attachment2(:medium_square) if item.attachment_type == "image" %>
            <% end %>

            <% end %>
          <% end %>

          <p>
            <%= time_ago_in_words project_item.created_at %> ago
          </p>

        <% when "milestone" %>

        <% end %>

    </div>
    <hr>
  </div>
</div>