<% provide(:title, @vendor.name) %>

<h3><%= yield(:title) %></h3>

<hr />

<p><%= @vendor.vendor_type.name %></p>
<p><%= @vendor.description %></p>

<hr />

<h4>Staff</h4>

<ul>
<% @vendor.members.each do |vendor_member| %>
<li><%= render :partial => 'frontend/vendors/staff/staff_list_item', :locals => { :vendor_member => vendor_member }  %></li>
<% end %>
</ul>


<a href="#" data-reveal-id="new_album_modal">Click Me For A Modal</a>

<% provide :modals do %>
<%= render :partial => 'frontend/albums/albums/new_modal' %>
<% end %>