<% provide(:title, @vendor.name) %>

<h2><%= @vendor.name %></h2>
<p><%= @vendor.vendor_type.name %></p>

<p><%= @vendor.description %></p>

<h4>Albums</h4>

<ul>
  <% @vendor.albums.each do |album| %>
    <li><%= link_to medium_path(album) do %><%= "#{album.title}" %><% end %></li>
  <% end %>  
</ul>