<% provide(:title, @vendor.name) %>

<div class="row vendor-header">

  <div class="large-3 push-9 columns">
    <div class="logo-wrapper">
    <% if @vendor.object %>
      <%= link_to vendor_path(@vendor.object) do %>
        <%= image_tag @vendor.profile_logo_url,:title => @vendor.name, :alt => @vendor.name %>
      <% end %>
    <% end %>
    </div>
  </div>

  <div class="large-9 pull-3 columns">
    <h3><%= @vendor.name %></h3>
    <p><%= @vendor.vendor_type.name %></p>
    <p><%= @vendor.description %></p>
  </div>

</div>


<hr />

<h4>Members</h4>

<ul>
<% @vendor.members.each do |vendor_member| %>
<li><%= render :partial => 'frontend/vendors/staff/staff_list_item', :locals => { :vendor_member => vendor_member }  %></li>
<% end %>
</ul>

<h4>Albums</h4>

<ul>
  <% @vendor.albums.each do |album| %>
    <li><%= link_to medium_path(album) do %><%= "#{album.title}" %><% end %></li>
  <% end %>  
</ul>