<% provide(:title, 'What is New Avenue?') %>
   
<h2><%= yield(:title) %></h2>
<p>New Avenue is a project management service that makes it easy for you to convert your home for 30, 40 or 50 years of flexible living. We work exclusively on second units that have a variety of designs options: prefab backyard cottages, accessory dwelling units, micro units, attachments, renovations, and ADA-accessible small homes. Our clients use them as their primary homes, guest houses, offices, rentals for supplementary income, micro living options, and even classrooms for teaching music. We make it easy for you to clear the technical, legal, and financial hurdles you’ll face in an integrated project delivery process.</p>

<h3>Make use of small spaces</h3>


<div class="row">
  <div class="large-7 columns">
    <h4>Live better by living together</h4>
    <p>A small backyard cottage or second unit often creates the best financial return of all the home improvements homeowners can make.  Many homes appreciate by 50% of their overall value when a second unit is built in the backyard.   This financial value is created by making use of backyards that are typically unused or are a burden to maintain and landscape.   </p>
    
  </div>
  <div class="large-4 columns"><%= image_tag 'http://lorempixel.com/250/250/people' %></div>
</div>


<h4>Rent, Work, Play</h4>
<p>While the financial return from rental income or just appreciation is often significantly better than any 401k investment, backyard cottages and second units are mostly used for family, friends, work, a personal care-giver, au pair or a long stream of guests.  .Many of our clients have lived in their home for three generations and see a backyard cottage as a way of staying close to their loved ones or bringing their loved ones closer to them. If you live around a business center, school, or vacation destination, you could rent your second unit out for income on occasion via Airbnb.</p>
<p><%= link_to "Meet some of our clients", "#", :class => "button neutral" %></p>

<div class="row">
  <div class="large-7 columns">
    <h4>Save the planet</h4>
    <p>All of our homes are designed with sustainable materials and healthy building and construction practices that would total up to exceed LEED Gold certification standards.   Most importantly, a small, well-insulated home typically uses less than $1 a day in energy, and, by building within an existing community, you are helping to mitigate suburban sprawl, long commutes, and traffic congestion.</p>
    <p><%= link_to "Learn about the impacts of ADUs", "#", :class => "button neutral" %></p>
  </div>
  <div class="large-4 columns"><%= image_tag 'http://lorempixel.com/250/250/fashion' %></div>
</div>
