<% provide(:title, 'Home') %>
<% provide(:yield_only, true) %>

<div id="home-orbiter">
  <ul data-orbit>
    <li style="background: url('https://b6694dc98fc00ffe8b6d-3d8cead74be35266d0f147cdde9ccbfd.ssl.cf1.rackcdn.com/general/hero-springs-cottage.jpg');">
      <div class="orbit-caption">
        <h3 class="jumbo">Jingle Bells, Jingle Bells</h3>
        <p class="large">We are the champions, my friends.</p>
      </div>
    </li>
    <li style="background: url('https://b6694dc98fc00ffe8b6d-3d8cead74be35266d0f147cdde9ccbfd.ssl.cf1.rackcdn.com/general/hero-people-on-patio.jpg');">
      <div class="orbit-caption">
        <h3 class="jumbo">Jingle all the way</h3>
        <p class="large">We'll keep on fighting, 'til the end.</p>
      </div>
    </li>
    <li style="background: url('https://b6694dc98fc00ffe8b6d-3d8cead74be35266d0f147cdde9ccbfd.ssl.cf1.rackcdn.com/general/hero-karens-cottage.jpg');">
      <div class="orbit-caption">
        <h3 class="jumbo">Oh what fun, it is to ride</h3>
        <p class="large">We are the champions</p>
      </div>
    </li>
    <li style="background: url('https://b6694dc98fc00ffe8b6d-3d8cead74be35266d0f147cdde9ccbfd.ssl.cf1.rackcdn.com/general/hero-birds-on-wire.jpg');">
      <div class="orbit-caption">
        <h3 class="jumbo">In a one horse open sleigh</h3>
        <p class="large">We are the champions</p>
      </div>
    </li>
    <li style="background: url('https://b6694dc98fc00ffe8b6d-3d8cead74be35266d0f147cdde9ccbfd.ssl.cf1.rackcdn.com/general/hero-cover3.jpg');">
      <div class="orbit-caption">
        <h3 class="jumbo">Yaba-daba doooo!</h3>
        <p class="large">Of the world.......</p>
      </div>
    </li>
  </ul>
</div>

<div class="row stage" style="padding: 1em 0 0 0; margin-top: 2em; margin-bottom: 2em; ">
  <div class="large-12 columns center-text">
    <ul class="small-block-grid-3 large-block-grid-6">
      <li><%= link_to press_path do %>Featured in:<% end %></li>
      <li><%= link_to "http://online.wsj.com/article/SB10001424127887324059704578470881055711540.html", :target => "_blank" do %><%= image_tag "https://b6694dc98fc00ffe8b6d-3d8cead74be35266d0f147cdde9ccbfd.ssl.cf1.rackcdn.com/press/wsjournal-bwsmall.png", :alt => "The Wall Street Journal" %><% end %></li>
      <li><%= link_to "http://www.sfgate.com/green/article/Berkeley-zero-net-energy-cottage-deserves-study-2462190.php", :target => "_blank" do %><%= image_tag "https://b6694dc98fc00ffe8b6d-3d8cead74be35266d0f147cdde9ccbfd.ssl.cf1.rackcdn.com/press/san_francisco_chronicle-bwsmall.png", :alt => "The San Francisco Chronicle" %><% end %></li>
      <li><%= link_to "http://www.smartplanet.com/video/downsizing-to-an-eco-friendly-home/6335544?tag=search-river", :target => "_blank" do %><%= image_tag "https://b6694dc98fc00ffe8b6d-3d8cead74be35266d0f147cdde9ccbfd.ssl.cf1.rackcdn.com/press/smartplanet-bwsmall.png", :alt => "SmartPlanet" %><% end %></li>
      <li><%= link_to "http://www.greenbelt.org/developments/a-new-avenue-for-development/", :target => "_blank" do %><%= image_tag "https://b6694dc98fc00ffe8b6d-3d8cead74be35266d0f147cdde9ccbfd.ssl.cf1.rackcdn.com/press/greenbelt-bwsmall.png", :alt => "Greenbelt Alliance" %><% end %></li>
      <li><%= link_to "http://www.apartmenttherapy.com/a-berkeley-professors-tiny-hom-137002", :target => "_blank" do %><%= image_tag "https://b6694dc98fc00ffe8b6d-3d8cead74be35266d0f147cdde9ccbfd.ssl.cf1.rackcdn.com/press/apartment-therapy-bwsmall.png", :alt => "Apartment Therapy" %><% end %></li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="columns large-6">
    <h2>Build the life you want to live</h2>
    <p>Enjoy independence, privacy and financial security while sharing your home with family for 30 years or more.  A small home, backyard cottage or guest house increases the value of your home while creating flexibility and the opportunity to keep  your home in your family for generations.</p>
  </div>
  <div class="columns large-6">
    <h2>Small Homes Build Family</h2>
    <p>Our clients care deeply about family and being close together, which is why we focus on small home and backyard cottage projects that maximize family living space. Small accessory dwelling units (ADU) can be added to almost any property to ensure your loved ones are spending more time together. And when family isn’t using your beautiful new tiny house, there are plenty of ways to share it with other people to earn money on your investment.</p>
  </div>
  <div class="columns large-12"><hr /></div>
</div>

<div class="row" id="home-teasers">

  <div class="columns large-4 small-6">
    <div class="tile">
      <%= image_tag "https://b6694dc98fc00ffe8b6d-3d8cead74be35266d0f147cdde9ccbfd.ssl.cf1.rackcdn.com/general/home-box-spring.jpg"%>
      <div class="caption-container">
        <h3>Meet a client: Spring's Spanish Cottage</h3>
        <p>See Spring's beautiful 674-square-foot cottage with fireplace and extra large windows built on her daughter's property.</p>
      </div>
    </div>
  </div>

  <div class="columns large-4 small-6">
    <div class="tile">
      <%= image_tag "https://b6694dc98fc00ffe8b6d-3d8cead74be35266d0f147cdde9ccbfd.ssl.cf1.rackcdn.com/general/home-box-karen.jpg"%>
      <div class="caption-container">
        <h3>Meet a client: Karen and Her ADU</h3>
        <p>Karen, a UC Berkeley professor, built this custom small home and uses it as a workspace, guest home, and income generator.</p>
      </div>
    </div>
  </div>

  <div class="columns large-4 small-6">
    <div class="tile">
      <%= image_tag "https://b6694dc98fc00ffe8b6d-3d8cead74be35266d0f147cdde9ccbfd.ssl.cf1.rackcdn.com/general/home-box-judy.jpg" %>
      <div class="caption-container">
        <h3>Meet a client: Judy's Garden Cottage</h3>
        <p>Judy's family built this backyard home to give her mother her own space and cottage and secret garden.</p>
      </div>
    </div>
  </div>

  <div class="columns large-4 small-6">
    <div class="tile">
      <%= image_tag "http://lorempixel.com/350/350/abstract"%>
      <div class="caption-container">
        <h3>Learn about us</h3>
        <p>Learn why we're experts in small home and cottage building, including in-law apartments, guest houses, ADUs, and backyard studios.</p>
      </div>
    </div>
  </div>

  <div class="columns large-4 small-6">
    <div class="tile">
      <%= image_tag "https://b6694dc98fc00ffe8b6d-3d8cead74be35266d0f147cdde9ccbfd.ssl.cf1.rackcdn.com/general/home-box-bill.jpg"%>
      <div class="caption-container">
        <h3>Meet an architect: Bill Luza</h3>
        <p>Meet Bill and see his extensive experience in multi-family and live/work spaces in the San Francisco Bay Area.</p>
      </div>
    </div>
  </div>
  <div class="columns large-4 small-6">
    <div class="tile">
      <%= image_tag "http://lorempixel.com/350/350/nature"%>
      <div class="caption-container">
        <h3>Learn Our Process</h3>
        <p>Building a small home or ADU (accessory dwelling unit) is complex but we’ve created a simple and highly efficient system to manage each step.</p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="large-12 columns"><hr></div>

  <div class="large-9 columns push-3">
    <h3>What's Happening</h3>
    <% @project_items = Physical::Project::ProjectItem.joins(:project).where('projects.private IS FALSE').order('created_at DESC').page(1).limit(5) %>
    <%= 
      render :partial => 'frontend/projects/project_items/project_feed', 
          :locals => { 
            :project => nil,
            :project_items => @project_items,
            :next_page_url => community_path(:page => @project_items.current_page.to_i + 1, :layout => false),
            :context => "global",
            :infinite => false
          }
    %>
    <div style="margin-bottom: 2em;">
      <%= link_to raw("See more of what's happening"), community_path, :class => "button light-blue", :style => "width: 100%;" %>
    </div>
  </div>

  <div class="large-3 columns pull-9">
    <h3>Browse Design Ideas</h3>
    <%= render :partial => 'frontend/albums/album_items/index_ideas_categories_nav' %>
  </div>

</div>

<% if false %>

<hr>

<div class="row center-text stage">

  <div class="large-4 small-6 columns">
    <h4>What are you waiting for?</h4>
    <%= link_to 'Get Started', join_path, :class => 'button' %>
  </div>

  <div class="large-4 small-6 columns">
    <h4>Want to learn more?</h4>
    <ul class="side-nav">
      <li><%= link_to "Visit the Help Center", "#" %></li>
    </ul>
  </div>

  <br class="show-for-small">

  <div class="large-4 small-12 columns">
    <h4>Recommend New Avenue</h4>

    <!-- facebook --> 
    <div class="fb-like" data-href="https://www.facebook.com/NewAvenueHomes" data-send="true" data-layout="button_count" data-width="300" data-show-faces="true"></div>
    <div id="fb-root" style="display: inline-block;"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=394037200611376";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

    <!-- twitter -->
    <a data-url="http://www.newavenuehomes.com" class="twitter-share-button" data-lang="en" data-count="none" data-text="New Avenue makes it easy to build a small home, in-law suite, or cottage!">Tweet</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

  </div>
</div>
<% end %>