<% provide(:title, 'Home') %>
<% provide(:yield_only, true) %>

<div id="home-orbiter">
  <ul data-orbit>
    <li style="background: url('http://lorempixel.com/1440/600/cats') no-repeat center;">
      <div class="orbit-caption">
        <h3 class="jumbo">Jingle Bells, Jingle Bells</h3>
        <p class="large">We are the champions, my friends.</p>
      </div>
    </li>
    <li style="background: url('http://lorempixel.com/1440/600/people') no-repeat center;">
      <div class="orbit-caption">
        <h3 class="jumbo">Jingle all the way</h3>
        <p class="large">We'll keep on fighting, 'til the end.</p>
      </div>
    </li>
    <li style="background: url('http://lorempixel.com/1440/600/city') no-repeat center;">
      <div class="orbit-caption">
        <h3 class="jumbo">Oh what fun, it is to ride</h3>
        <p class="large">We are the champions</p>
      </div>
    </li>
    <li style="background: url('http://lorempixel.com/1440/600/business') no-repeat center;">
      <div class="orbit-caption">
        <h3 class="jumbo">In a one horse open sleigh</h3>
        <p class="large">We are the champions</p>
      </div>
    </li>
    <li style="background: url('http://lorempixel.com/1440/600/sports') no-repeat center;">
      <div class="orbit-caption">
        <h3 class="jumbo">Yaba-daba doooo!</h3>
        <p class="large">Of the world.......</p>
      </div>
    </li>
  </ul>
</div>

<div class="row stage" style="padding: 1em 0 0 0; margin-top: 2em; margin-bottom: 2em; ">
  <div class="large-12 columns center-text">
    <ul class="small-block-grid-3 large-block-grid-6">
      <li><%= link_to press_path do %>Featured in:<% end %></li>
    <% [
      ['bcorp-bwsmall.png', "Source"],
      ['greenbelt-bwsmall.png', "Source"],
      ['san_francisco_chronicle-bwsmall.png', "Source"],
      ['smartplanet-bwsmall.png', "Source"],
      ['wsjournal-bwsmall.png', "Source"],
    ].each do |source| %>
      <li><%= link_to press_path do %><%= image_tag "https://b6694dc98fc00ffe8b6d-3d8cead74be35266d0f147cdde9ccbfd.ssl.cf1.rackcdn.com/press/#{source[0]}", :alt => source[1] %><% end %></li>
    <% end %>
    </ul>
  </div>
</div>

<div class="row">
  <div class="columns large-6">
    <h2>Build the life you want to live</h2>
    <p>Enjoy independence, privacy and financial security while sharing your home with family for 30 years or more.  A small home, backyard cottage or guest house increases the value of your home while creating flexibility and the opportunity to keep  your home in your family for generations.</p>
  </div>
  <div class="columns large-6">
    <h2>Small Homes Build Family</h2>
    <p>Our clients care deeply about family and being close together, which is why we focus on small home and backyard cottage projects that maximize family living space. Small accessory dwelling units (ADU) can be added to almost any property to ensure your loved ones are spending more time together. And when family isn’t using your beautiful new tiny house, there are plenty of ways to share it with other people to earn money on your investment.</p>
  </div>
  <div class="columns large-12"><hr /></div>
</div>

<div class="row" id="home-teasers">
  <div class="columns large-4 small-6">
    <div class="tile">
      <%= image_tag "http://lorempixel.com/350/350/abstract"%>
      <h3>Learn about us</h3>
      <p>New Avenue is a - the quick brown fox jumps over the lazy dog</p>
    </div>
  </div>
  <div class="columns large-4 small-6">
    <div class="tile">
      <%= image_tag "http://lorempixel.com/350/350/city"%>
      <h3>Meet a client: Spring and her Cottage</h3>
      <p>New Avenue is a - the quick brown fox jumps over the lazy dog</p>
    </div>
  </div>
  <div class="columns large-4 small-6">
    <div class="tile">
      <%= image_tag "http://lorempixel.com/350/350/people"%>
      <h3>See a design example: The Mansion</h3>
      <p>New Avenue is a - the quick brown fox jumps over the lazy dog</p>
    </div>
  </div>
  <div class="columns large-4 small-6">
    <div class="tile">
      <%= image_tag "http://lorempixel.com/350/350/transportation"%>
      <h3>Meet a client: Karen and her Cottage</h3>
      <p>New Avenue is a - the quick brown fox jumps over the lazy dog</p>
    </div>
  </div>
  <div class="columns large-4 small-6">
    <div class="tile">
      <%= image_tag "http://lorempixel.com/350/350/food"%>
      <h3>Meet an architect: John Doe</h3>
      <p>New Avenue is a - the quick brown fox jumps over the lazy dog</p>
    </div>
  </div>
  <div class="columns large-4 small-6">
    <div class="tile">
      <%= image_tag "http://lorempixel.com/350/350/nature"%>
      <h3>Something else</h3>
      <p>New Avenue is a - the quick brown fox jumps over the lazy dog</p>
    </div>
  </div>
</div>

<div class="row">
  <div class="large-12 columns"><hr></div>

  <div class="large-8 columns push-4">
    <h3>What's Happening</h3>
    <% @project_items = Physical::Project::ProjectItem.joins(:project).where('projects.private IS FALSE').order('created_at DESC').page(1).limit(5) %>
    <%= 
      render :partial => 'frontend/projects/project_items/project_feed', 
          :locals => { 
            :project => nil,
            :project_items => @project_items,
            :next_page_url => community_path(:page => @project_items.current_page.to_i + 1, :layout => false),
            :context => "global",
            :infinite => false
          }
    %>
    <hr>
    <%= link_to raw("See more &raquo;"), community_path %>
  </div>

  <div class="large-4 columns pull-8">
    <h3>Browse Design Ideas</h3>
    <%= render :partial => 'frontend/albums/album_items/index_ideas_categories_nav' %>
  </div>

</div>

<% if false %>

<hr>

<div class="row center-text stage">

  <div class="large-4 small-6 columns">
    <h4>What are you waiting for?</h4>
    <%= link_to 'Get Started', join_path, :class => 'button' %>
  </div>

  <div class="large-4 small-6 columns">
    <h4>Want to learn more?</h4>
    <ul class="side-nav">
      <li><%= link_to "Visit the Help Center", "#" %></li>
    </ul>
  </div>

  <br class="show-for-small">

  <div class="large-4 small-12 columns">
    <h4>Recommend New Avenue</h4>

    <!-- facebook --> 
    <div class="fb-like" data-href="https://www.facebook.com/NewAvenueHomes" data-send="true" data-layout="button_count" data-width="300" data-show-faces="true"></div>
    <div id="fb-root" style="display: inline-block;"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=394037200611376";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

    <!-- twitter -->
    <a data-url="http://www.newavenuehomes.com" class="twitter-share-button" data-lang="en" data-count="none" data-text="New Avenue makes it easy to build a small home, in-law suite, or cottage!">Tweet</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

  </div>
</div>
<% end %>