<% provide(:title, 'Home') %>
<% provide(:yield_only, true) %>

<header id="home-splash-container">
  <section id="home-splash">
    <div class="row">
      <div class="large-6 columns">
        <%= image_tag 'http://lorempixel.com/500/400/city' %>
      </div>
      <div class="large-6  columns">
        <h1>New Avenue</h1>
        <h4>The marketplace for your next<br class="hide-for-small"> generation small home.</h4>
        <a href="#" class="large button neutral">Start My Project</a>
      </div>
    </div>
  </section>
</header>


<section id="home-features">

  <div class="row stage">
    <div class="large-12 columns">
      <p>TODO: PRESS LOGOS</p>
      <p>Featured in:</p>
    </div>
  </div>

  <hr>

  <div class="row stage">
    <div class="large-6 columns">
      <h3>Improve your livelihood</h3>
      <p>By building an accessory dwelling unit, backyard cottage, micro unit, or in-law suite, you create opportunity for family, friends, work, and play. </p>
      <%= link_to "Learn More", '#', :class => 'button neutral small radius' %>
    </div>
    <div class="large-5 large-offset-1 columns">
      <%= image_tag 'http://lorempixel.com/400/300/people' %>
    </div>
  </div>

  <hr>

  <div class="row stage">

    <div class="large-6 large-offset-1 push-5 columns">
      <h3>Why New Avenue?</h3>
      <p>New Avenue is the leading backyard cottage and small home expert. We have over 50 projects and growing in the San Francisco Bay Area!</p>
      <%= link_to "Learn More", '#', :class => 'button neutral small radius' %>
    </div>
    <div class="large-5 pull-6 columns">
      <%= image_tag 'http://lorempixel.com/400/300/abstract' %>
    </div>

  </div>

  <hr>

  <div class="row stage">
    <div class="large-6 columns">
      <h3>We make it easy</h3>
      <p>Adding to your home or building a small home is a walk in the park with New Avenue. We bring our vetted and certified network of architects and builders to you.</p>
      <%= link_to "Learn More", '#', :class => 'button neutral small radius' %>
    </div>
    <div class="large-5 large-offset-1 columns">
      <%= image_tag 'http://lorempixel.com/400/300/city' %>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="large-12 columns">
      <div style="text-align: center; padding: 1em;">
        <h1>Contact us for free consultation!</h1>
        <%= link_to 'Design and Build with New Avenue', '#', :class => 'button large radius' %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns" style="text-align: center;">
      TODO: MAD LIB FORM AND/OR FINANCING FORM
    </div>
  </div>

</section>