<% provide(:title, 'Home') %>
<% provide(:yield_only, true) %>

<header id="home-splash-container">
  <section id="home-splash">
    <div class="row center-text-for-small">
      <div class="large-9 columns">
        <h1 class="hide-for-medium-up" style="text-align:center; margin-top: 0;">New Avenue</h1>
        <div class="house-sketch-wrapper hidden" style="text-align: center; ">
          <%= image_tag 'https://b6694dc98fc00ffe8b6d-3d8cead74be35266d0f147cdde9ccbfd.ssl.cf1.rackcdn.com/house-sketch.jpg', :style => "max-height: 376px;" %>
        </div>

        <div id="home-orbiter">
          <ul class="features" data-orbit>
            <li>
              <%= link_to "#", :title => "Karen's Cottage - East Bay, CA" do %><%= image_tag 'https://b6694dc98fc00ffe8b6d-3d8cead74be35266d0f147cdde9ccbfd.ssl.cf1.rackcdn.com/general/home-orbiter-b-01.jpg' %><% end %>
              <div class="orbit-caption">Karen's Cottage - East Bay, CA</div>
            </li>
            <li>
              <%= link_to "#", :title => "Spring's Cottage, Orinda, CA" do %><%= image_tag 'https://b6694dc98fc00ffe8b6d-3d8cead74be35266d0f147cdde9ccbfd.ssl.cf1.rackcdn.com/general/home-orbiter-b-02.jpg' %><% end %>
              <div class="orbit-caption">Spring's Cottage, Orinda, CA</div>
            </li>
            <li>
              <%= link_to "#", :title => "Poppy's Place, Berkeley, CA" do %><%= image_tag 'https://b6694dc98fc00ffe8b6d-3d8cead74be35266d0f147cdde9ccbfd.ssl.cf1.rackcdn.com/general/home-orbiter-b-03.jpg' %><% end %>
              <div class="orbit-caption">Poppy's Place, Berkeley, CA</div>
            </li>
            <li>
              <table style="width: 100%; height: 100%; margin: 0 auto;">
                <tbody>
                  <tr>
                    <td style="text-align: center; vertical-align: middle;">
                      <h3>Learn about us and start your project!</h3>
                    </td>
                  </tr>
                </tbody>
              </table>
            </li>
          </ul>
        </div>

      </div>
      <div class="large-3 columns call-to-action">
        <h1 class="show-for-medium-up" style="font-size: 2em;">New Avenue</h1>
        <h4 class="byline" style="font-size: 1em;">We help you build your small home or in-law unit and eliminate the stress of dealing with permits and contractors.</h4>
        <%= link_to "Get Started", join_path, :class => "large button" %>
      </div>
    </div>
  </section>
</header>


<section id="home-features">

  <br>

  <div class="row stage" style="padding: 1em 0 0 0;">
    <div class="large-12 columns center-text">
      <ul class="small-block-grid-3 large-block-grid-6">
        <li><%= link_to press_path do %>Featured in:<% end %></li>
      <% [
        ['bcorp-bwsmall.png', "Source"],
        ['greenbelt-bwsmall.png', "Source"],
        ['san_francisco_chronicle-bwsmall.png', "Source"],
        ['smartplanet-bwsmall.png', "Source"],
        ['wsjournal-bwsmall.png', "Source"],
      ].each do |source| %>
        <li><%= link_to press_path do %><%= image_tag "https://b6694dc98fc00ffe8b6d-3d8cead74be35266d0f147cdde9ccbfd.ssl.cf1.rackcdn.com/press/#{source[0]}", :alt => source[1] %><% end %></li>
      <% end %>
      </ul>
    </div>
  </div>

  <hr>

  <div class="row stage">
    <div class="large-6 columns center-for-small">
      <h3>Improve your livelihood</h3>
      <p>By building an accessory dwelling unit, backyard cottage, micro unit, or in-law suite, you create opportunity for family, friends, work, and play. </p>
      <%= link_to "Read about our clients", '#', :class => 'button neutral small radius' %>
    </div>
    <div class="large-5 large-offset-1 columns center-text">
      <br class="show-for-small">
      <%= image_tag 'https://b6694dc98fc00ffe8b6d-3d8cead74be35266d0f147cdde9ccbfd.ssl.cf1.rackcdn.com/marketing/stock-photo-14328435-portrait-of-extended-family-group-in-park.jpg
' %>
    </div>
  </div>

  <hr>

  <div class="row stage">

    <div class="large-6 large-offset-1 push-5 columns center-for-small">
      <h3>Why New Avenue?</h3>
      <p>New Avenue is the leading backyard cottage and small home expert. We have over 50 projects and growing in the San Francisco Bay Area!</p>
      <%= link_to "See what we're about", '#', :class => 'button neutral small radius' %>
    </div>
    <div class="large-5 pull-6 columns center-text">
      <br class="show-for-small">
      <%= image_tag 'https://b6694dc98fc00ffe8b6d-3d8cead74be35266d0f147cdde9ccbfd.ssl.cf1.rackcdn.com/general/front-box-why-newave-01.jpg' %>
    </div>

  </div>

  <hr>

  <div class="row stage">
    <div class="large-6 columns center-for-small">
      <h3>We make it easy</h3>
      <p>Adding to your home or building a small home is a walk in the park with New Avenue. We bring our vetted and certified network of architects and builders to you.</p>
      <%= link_to "Understand our process", '#', :class => 'button neutral small radius' %>
    </div>
    <div class="large-5 large-offset-1 columns center-text">
      <br class="show-for-small">
      <%= image_tag 'https://b6694dc98fc00ffe8b6d-3d8cead74be35266d0f147cdde9ccbfd.ssl.cf1.rackcdn.com/general/front-box-make-it-easy-01.jpg' %>
    </div>
  </div>

  <hr>

  <div class="row stage" style="padding-top: 0; padding-bottom: 0; ">
    <div class="large-12 columns" style="text-align: center;">
      <h3>Explore New Avenue</h3>
    </div>
    <div class="large-3 small-6 columns">
      <ul class="side-nav">
        <li><a href="#">Somewhere 1 </a></li>
        <li><a href="#">Somewhere 2</a></li>
        <li><a href="#">Somewhere 3</a></li>
        <li><a href="#">Somewhere 4</a></li>
      </ul>
    </div>
    <div class="large-3 small-6 columns">
      <ul class="side-nav">
        <li><a href="#">Somewhere 1 </a></li>
        <li><a href="#">Somewhere 2</a></li>
        <li><a href="#">Somewhere 3</a></li>
        <li><a href="#">Somewhere 4</a></li>
      </ul>
    </div>
    <div class="large-3 small-6 columns">
      <ul class="side-nav">
        <li><a href="#">Somewhere 1 </a></li>
        <li><a href="#">Somewhere 2</a></li>
        <li><a href="#">Somewhere 3</a></li>
        <li><a href="#">Somewhere 4</a></li>
      </ul>
    </div>
    <div class="large-3 small-6 columns">
      <ul class="side-nav">
        <li><a href="#">Somewhere 1 </a></li>
        <li><a href="#">Somewhere 2</a></li>
        <li><a href="#">Somewhere 3</a></li>
        <li><a href="#">Somewhere 4</a></li>
      </ul>
    </div>
  </div>

  <hr>

  <div class="row center-text stage">

    <div class="large-4 small-6 columns">
      <h4>What are you waiting for?</h4>
      <%= link_to 'Get Started', join_path, :class => 'button' %>
    </div>

    <div class="large-4 small-6 columns">
      <h4>Want to learn more?</h4>
      <ul class="side-nav">
        <li><%= link_to "Visit the Help Center", "#" %></li>
      </ul>
    </div>

    <br class="show-for-small">

    <div class="large-4 small-12 columns">
      <h4>Recommend New Avenue</h4>

      <!-- facebook --> 
      <div class="fb-like" data-href="https://www.facebook.com/NewAvenueHomes" data-send="true" data-layout="button_count" data-width="300" data-show-faces="true"></div>
      <div id="fb-root" style="display: inline-block;"></div>
      <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=394037200611376";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));</script>

      <!-- twitter -->
      <a data-url="http://www.newavenuehomes.com" class="twitter-share-button" data-lang="en" data-count="none" data-text="New Avenue makes it easy to build a small home, in-law suite, or cottage!">Tweet</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

    </div>
  </div>

  <br>

</section>