<% provide(:title, 'Home') %>
<% provide(:yield_only, true) %>

<div id="home-orbiter">
  <ul data-orbit>

    <li style="background: url('https://b6694dc98fc00ffe8b6d-3d8cead74be35266d0f147cdde9ccbfd.ssl.cf1.rackcdn.com/general/hero-springs-cottage.jpg');">
      <div class="orbit-caption">
        <div class="row" style="max-width: 1000px;">
          <div class="columns large-4">
            <div class="panel radius center-text">
              <h4 class="jumbo">Ask us a question!</h4>
              <%= link_to contact_path, :class => "button large radius" do %>Contact New Avenue<% end %>
            </div>
          </div>
          <div class="columns large-8 center-text-for-small">
            <h3 class="jumbo">We're the small home experts</h3>
            <p class="large">We are consultants who take your project from idea to completion.</p>
          </div>
        </div>
      </div>
    </li>

    <li style="background: url('https://b6694dc98fc00ffe8b6d-3d8cead74be35266d0f147cdde9ccbfd.ssl.cf1.rackcdn.com/general/hero-people-on-patio.jpg');">
      <div class="orbit-caption">
        <div class="row" style="max-width: 1000px;">
          <div class="columns large-4">
            <div class="panel radius center-text">
              <h4 class="jumbo">See lives changed</h4>
              <%= link_to brochure_clients_path, :class => "button large radius" do %>Read Client Stories<% end %>
            </div>
          </div>
          <div class="columns large-8 center-text-for-small">
            <h3 class="jumbo">Live better by living together</h3>
            <p class="large">We bring friends and family closer.</p>
          </div>
        </div>
      </div>
    </li>

    <li style="background: url('https://b6694dc98fc00ffe8b6d-3d8cead74be35266d0f147cdde9ccbfd.ssl.cf1.rackcdn.com/general/hero-karens-cottage.jpg');">
      <div class="orbit-caption">
        <div class="row" style="max-width: 1000px;">
          <div class="columns large-4">
            <div class="panel radius center-text">
              <h4 class="jumbo">Fit for your requirements</h4>
              <%= link_to brochure_floorplans_path, :class => "button large radius" do %>See Design Examples<% end %>
            </div>
          </div>
          <div class="columns large-8">
            <h3 class="jumbo">Guided Project Delivery</h3>
            <p class="large">Our connections and our process make things easy.</p>
          </div>
        </div>
      </div>
    </li>

    <% if false %>
    <li style="background: url('https://b6694dc98fc00ffe8b6d-3d8cead74be35266d0f147cdde9ccbfd.ssl.cf1.rackcdn.com/general/hero-birds-on-wire.jpg');">
      <div class="orbit-caption">
        <h3 class="jumbo">In a one horse open sleigh</h3>
        <p class="large">We are the champions</p>
      </div>
    </li>
    <li style="background: url('https://b6694dc98fc00ffe8b6d-3d8cead74be35266d0f147cdde9ccbfd.ssl.cf1.rackcdn.com/general/hero-cover3.jpg');">
      <div class="orbit-caption">
        <h3 class="jumbo">Yaba-daba doooo!</h3>
        <p class="large">Of the world.......</p>
      </div>
    </li>
    <% end %>
    
  </ul>
</div>

<div class="row stage" style="padding: 1em 0 0 0; margin-top: 2em; margin-bottom: 2em; ">
  <div class="large-12 columns center-text">
    <ul class="small-block-grid-3 large-block-grid-6">
      <li><%= link_to press_path do %>Featured in:<% end %></li>
      <li><%= link_to "http://online.wsj.com/article/SB10001424127887324059704578470881055711540.html", :target => "_blank" do %><%= image_tag "https://b6694dc98fc00ffe8b6d-3d8cead74be35266d0f147cdde9ccbfd.ssl.cf1.rackcdn.com/press/wsjournal-bwsmall.png", :alt => "The Wall Street Journal" %><% end %></li>
      <li><%= link_to "http://www.sfgate.com/green/article/Berkeley-zero-net-energy-cottage-deserves-study-2462190.php", :target => "_blank" do %><%= image_tag "https://b6694dc98fc00ffe8b6d-3d8cead74be35266d0f147cdde9ccbfd.ssl.cf1.rackcdn.com/press/san_francisco_chronicle-bwsmall.png", :alt => "The San Francisco Chronicle" %><% end %></li>
      <li><%= link_to "http://www.smartplanet.com/video/downsizing-to-an-eco-friendly-home/6335544?tag=search-river", :target => "_blank" do %><%= image_tag "https://b6694dc98fc00ffe8b6d-3d8cead74be35266d0f147cdde9ccbfd.ssl.cf1.rackcdn.com/press/smartplanet-bwsmall.png", :alt => "SmartPlanet" %><% end %></li>
      <li><%= link_to "http://www.greenbelt.org/developments/a-new-avenue-for-development/", :target => "_blank" do %><%= image_tag "https://b6694dc98fc00ffe8b6d-3d8cead74be35266d0f147cdde9ccbfd.ssl.cf1.rackcdn.com/press/greenbelt-bwsmall.png", :alt => "Greenbelt Alliance" %><% end %></li>
      <li><%= link_to "http://www.apartmenttherapy.com/a-berkeley-professors-tiny-hom-137002", :target => "_blank" do %><%= image_tag "https://b6694dc98fc00ffe8b6d-3d8cead74be35266d0f147cdde9ccbfd.ssl.cf1.rackcdn.com/press/apartment-therapy-bwsmall.png", :alt => "Apartment Therapy" %><% end %></li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="columns large-6">
    <h2>Small Homes Build Family</h2>
    <p>Our clients care deeply about family and being close together, which is why we focus on small home and backyard cottage projects that maximize family living space. Small accessory dwelling units (ADU) can be added to almost any property. Enjoy independence, privacy and financial security while sharing your home with family for 30 years or more.  A small home, backyard cottage or guest house increases the value of your home while creating flexibility and the opportunity to keep  your home in your family for generations.</p>
    <p><%= link_to "Learn more about us", about_path, :class => "button large light-blue radius" %></p>
  </div>
  <div class="columns large-6">
    <h2>Why Build a Backyard Cottage with Us?</h2>
    <p>Building a small home or ADU (accessory dwelling unit) is complex. We've created a simple and highly efficient system to manage each step. We’ll help you sketch ideas, understand permits, and find the perfect architect and builder for your dream tiny house. Everyone involved works within our proprietary platform that streamlines the entire planning and building process to make sure your small home is done on time and on budget with few surprises. Work with us for a stress-free, and some would say even fun, experience!</p>
    <p>
      <%= link_to "Find out how we work", how_path, :class => "button large light-blue radius" %>
    </p>
  </div>
  <div class="columns large-12"><hr /></div>
</div>


<div class="row" id="home-teasers">
  <div class="large-12 columns">
    <ul class="large-block-grid-3 small-block-grid-2">
      <li>
        <div class="tile">
          <%= image_tag "https://b6694dc98fc00ffe8b6d-3d8cead74be35266d0f147cdde9ccbfd.ssl.cf1.rackcdn.com/general/home-box-spring.jpg"%>
          <div class="caption-container">
            <h3>Meet a client: Spring's Spanish Cottage</h3>
            <p>See Spring's beautiful 674-square-foot cottage with fireplace and extra large windows built on her daughter's property.</p>
          </div>
        </div>
      </li>
      <li>
        <div class="tile">
          <%= image_tag "https://b6694dc98fc00ffe8b6d-3d8cead74be35266d0f147cdde9ccbfd.ssl.cf1.rackcdn.com/general/home-box-karen.jpg"%>
          <div class="caption-container">
            <h3>Meet a client: Karen and Her ADU</h3>
            <p>Karen, a UC Berkeley professor, built this custom small home and uses it as a workspace, guest home, and income generator.</p>
          </div>
        </div>
      </li>
      <li>
        <div class="tile">
          <%= image_tag "https://b6694dc98fc00ffe8b6d-3d8cead74be35266d0f147cdde9ccbfd.ssl.cf1.rackcdn.com/general/home-box-judy.jpg" %>
          <div class="caption-container">
            <h3>Meet a client: Judy's Garden Cottage</h3>
            <p>Judy's family removed an old garage and added this backyard home to give her mother her own space and cottage and secret garden.</p>
          </div>
      </li>
      <li>
        <div class="tile">
          <%= image_tag "http://lorempixel.com/350/350/abstract"%>
          <div class="caption-container">
            <h3>Design example: Green Mod</h3>
            <p>Learn why we're experts in small home and cottage building, including in-law apartments, guest houses, ADUs, and backyard studios.</p>
          </div>
        </div>
      </li>
      <li>
        <div class="tile">
          <%= image_tag "https://b6694dc98fc00ffe8b6d-3d8cead74be35266d0f147cdde9ccbfd.ssl.cf1.rackcdn.com/general/home-box-bill.jpg"%>
          <div class="caption-container">
            <h3>Design example: Big L</h3>
            <p>Meet Bill and see his extensive experience in multi-family and live/work spaces in the San Francisco Bay Area.</p>
          </div>
        </div>
      </li>
      <li>
        <div class="tile">
          <%= image_tag "http://lorempixel.com/350/350/nature"%>
          <div class="caption-container">
            <h3>Design example: Mansion</h3>
            <p>Building a small home or ADU (accessory dwelling unit) is complex but we’ve created a simple and highly efficient system to manage each step.</p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <hr>
    <h2>Announcements and Upcoming Events</h2>
    <%= render_blog_feed(4, "grid", "large-3 small-6", source = "http://blog.newavenuehomes.com/index.php/category/events/feed/") %>
  </div>
</div>

<div class="row">
  <div class="large-12 columns"><hr></div>

  <div class="large-9 columns push-3">
    <h3>What's Happening</h3>
    <% @project_items = Physical::Project::ProjectItem.community_feed.limit(10).page(1) %>
    <%= 
      render :partial => 'frontend/projects/project_items/project_feed', 
          :locals => { 
            :project => nil,
            :project_items => @project_items,
            :next_page_url => community_path(:page => @project_items.current_page.to_i + 1, :layout => false),
            :context => "global",
            :infinite => false
          }
    %>
    <div style="margin-bottom: 2em;">
      <%= link_to raw("See more of what's happening"), community_path, :class => "button light-blue", :style => "width: 100%;" %>
    </div>
  </div>

  <div class="large-3 columns pull-9">
    <h3>Browse Design Ideas</h3>
    <%= render :partial => 'frontend/albums/album_items/index_ideas_categories_nav' %>

    <h3>From Our Blog</h3>
    <%= render_blog_feed(10, "list", source="http://blog.newavenuehomes.com/index.php/category/blog/feed/") %>
  </div>

</div>

<% if false %>
<div class="row center-text">

  <div class="large-4 small-6 columns">
    <h4>What are you waiting for?</h4>
    <%= link_to 'Get Started', join_path, :class => 'button' %>
  </div>

  <div class="large-4 small-6 columns">
    <h4>Want to learn more?</h4>
    <ul class="side-nav">
      <li><%= link_to "Visit the Help Center", "#" %></li>
    </ul>
  </div>

  <br class="show-for-small">

  <div class="large-4 small-12 columns">
    <h4>Recommend New Avenue</h4>

    <!-- facebook --> 
    <div class="fb-like" data-href="https://www.facebook.com/NewAvenueHomes" data-send="true" data-layout="button_count" data-width="300" data-show-faces="true"></div>
    <div id="fb-root" style="display: inline-block;"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=394037200611376";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

    <!-- twitter -->
    <a data-url="http://www.newavenuehomes.com" class="twitter-share-button" data-lang="en" data-count="none" data-text="New Avenue makes it easy to build a small home, in-law suite, or cottage!">Tweet</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

  </div>
</div>

<br />

<% end %>