<nav>
    <ul class="side-nav fancy-menu no-icons">
      <%= active_link_to about_path, :wrap_tag => :li do %><i class="icon-home"></i> What is New Avenue?<% end %>
      <%= active_link_to how_path, :wrap_tag => :li do %><i class="icon-gears"></i>  How We Work with You<% end %>
      <%= active_link_to team_path, :wrap_tag => :li do %><i class="icon-group"></i>  The Team<% end %>
      <%= active_link_to investors_path, :wrap_tag => :li do %><i class="icon-road"></i>  Investors and Partners<% end %>
      <%= active_link_to press_path, :wrap_tag => :li do %><i class="icon-bullhorn"></i>  Press<% end %>
      <%= active_link_to faqs_path, :wrap_tag => :li do %><i class="icon-question"></i>  FAQs<% end %>
      <%= active_link_to jobs_path, :wrap_tag => :li do %><i class="icon-briefcase"></i>  Jobs<% end %>
      <%= active_link_to privacy_path, :wrap_tag => :li do %><i class="icon-file-text-alt"></i>  Privacy Policy<% end %>
      <%= active_link_to terms_path, :wrap_tag => :li do %><i class="icon-file-text-alt"></i>  Terms of Service<% end %>
    </ul>
</nav>