<nav>
  <ul class="side-nav">
    <li><%= active_link_to 'What is New Avenue?', about_path, :wrap_tag => :li %></li>
    <li><%= active_link_to 'How We Work with You', how_path, :wrap_tag => :li %></li>
    <li><%= active_link_to 'The Team', team_path, :wrap_tag => :li %></li>
    <li><%= active_link_to 'Investors & Partners', investors_path, :wrap_tag => :li %></li>
    <li><%= active_link_to 'Jobs', jobs_path, :wrap_tag => :li %></li>
    <li><%= active_link_to 'FAQs', faqs_path, :wrap_tag => :li %></li>
    <li><%= active_link_to 'Privacy Policy', privacy_path, :wrap_tag => :li %></li>
    <li><%= active_link_to 'Terms of Service', terms_path, :wrap_tag => :li %></li>
  </ul>
</nav>