<section class="footer">
  <div class="row">
    <div class="large-8 small-12 columns">
  
      <ul class="button-group footer-links show-for-medium-up">
        <%= render :partial => "layouts/footer_links" %>
      </ul>
  
      <ul class="side-nav show-for-small">
        <%= render :partial => "layouts/footer_links" %>
      </ul>
  
    </div>
    <div class="large-4 small-12 columns">
      <ul class="button-group social-buttons">
        <li><%= link_to "https://www.facebook.com/NewAvenueHomes", :target => "_blank" do %><i class="social foundicon-facebook"></i><% end %></li>
        <li><%= link_to "https://twitter.com/#!/NewAvenueHomes", :target => "_blank" do %><i class="social foundicon-twitter"></i><% end %></li>
        <li><%= link_to "http://pinterest.com/NewAvenue/", :target => "_blank" do %><i class="social foundicon-pinterest"></i><% end %></li>
        <li><%= link_to "http://blog.newavenuehomes.com/", :target => "_blank" do %><i class="social foundicon-wordpress"></i><% end %></li>
      </ul>
    </div>
  
    <div class="large-12 columns">
      <p>&copy; 2013 New Avenue, Inc.</p>
    </div>
  
  </div>
</section>

<!-- Social Stuff, yay -->

<!-- Facebook -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=<%= ENV['FACEBOOK_APP_ID'] %>";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<!-- Twitter -->
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

<% if false %>
<!-- Pinterest -->
<script type="text/javascript" src="//assets.pinterest.com/js/pinit.js"></script>
<% end %>