<% content_for :content do %>

<section class="page-content">

  <div class="row">

    <div class="large-9 push-3 columns">
    <%= yield %>
    </div>

    <div class="large-3 pull-9 columns sidebar">
      <nav>
      <h5>About New Avenue</h5>
      <ul class="side-nav">
        <li><%= active_link_to 'Learn About Us', about_path, :wrap_tag => :li %></li>
        <li><%= active_link_to 'The Company', '#', :wrap_tag => :li %></li>
        <li><%= active_link_to 'The Team', '#', :wrap_tag => :li %></li>
        <li><%= active_link_to 'Investors & Partners', '#', :wrap_tag => :li %></li>
        <li><%= active_link_to 'Jobs', '#', :wrap_tag => :li %></li>
        <li><%= active_link_to 'FAQs', '#', :wrap_tag => :li %></li>
        <li><%= active_link_to 'Privacy Policy', privacy_path, :wrap_tag => :li %></li>
        <li><%= active_link_to 'Terms of Service', terms_path, :wrap_tag => :li %></li>
      </ul>
      </nav>
    </div>

  </div>

</section>

<% end %>

<%= render :template => 'layouts/application' %>