<% content_for :content do %>


<section class="page-content">

  <div class="row">

    <div class="large-10 push-2 columns">
    <%= yield %>
    </div>

    <div class="large-2 pull-10 columns">

      <hr class="show-for-small">
      
      <br>

      <strong>Overview</strong>
      <ul class="side-nav">
        <%= active_link_to 'Dashboard', crm_path, :wrap_tag => :li, :active => :exclusive %>
      </ul>

      <strong>Relations</strong>
      <ul class="side-nav">
        <%= active_link_to 'Users', crm_users_path, :wrap_tag => :li, :active => :exclusive %>
        <%= active_link_to 'Invitations', crm_invitations_path, :wrap_tag => :li, :active => :exclusive %>
      </ul>

      <strong>Content</strong>
      <ul class="side-nav">
        <%= active_link_to 'Client Stories', crm_brochure_clients_path, :wrap_tag => :li %>
        <%= active_link_to 'Design Examples', crm_brochure_floorplans_path, :wrap_tag => :li %>
        <%= active_link_to 'Featured Architects', crm_featured_architects_path, :wrap_tag => :li %>
      </ul>

      <strong>Resources</strong>
      <ul class="side-nav">
        <%= active_link_to 'Albums', crm_albums_path, :wrap_tag => :li, :active => :exclusive %>
      </ul>
    </div>

  </div>

</section>

<% end %>

<%= render :template => 'layouts/application' %>