<% content_for :content do %>


<section class="page-content">

  <div class="row">

    <div class="large-12 columns hidden">
      <br>
      <div class="section-container horizontal-nav" data-section="horizontal-nav" data-options="one_up: false;">
        <section>
          <p class="title" data-section-title><a href="#">Users</a></p>
          <div class="content" data-section-content>
            <ul class="side-nav">
              <li><%= active_link_to 'Users', crm_users_path, :wrap_tag => :li %></li>
              <li><%= active_link_to 'Invitations', crm_invitations_path, :wrap_tag => :li %></li>
              <li><%= active_link_to 'List Vendors', crm_vendors_path, :wrap_tag => :li %></li>
              <li><%= active_link_to 'Create Vendor', new_vendor_path, :wrap_tag => :li %></li>
            </ul>
          </div>
        </section>
        <section>
          <p class="title" data-section-title><a href="#">Brochure Content</a></p>
          <div class="content" data-section-content>
            <ul class="side-nav">
              <li><%= active_link_to 'Clients', crm_brochure_clients_path, :wrap_tag => :li %></li>
              <li><%= active_link_to 'Floor Plans', crm_brochure_floorplans_path, :wrap_tag => :li %></li>
            </ul>
          </div>
        </section>
        <section>
          <p class="title" data-section-title><a href="#">Resources</a></p>
          <div class="content" data-section-content>
            <ul class="side-nav">
              <li><%= active_link_to 'Albums', crm_albums_path, :wrap_tag => :li %></li>
            </ul>
          </div>
        </section>
      </div>
    </div>


    <div class="large-10 push-2 columns">
    <%= yield %>
    </div>

    <div class="large-2 pull-10 columns">

      <hr class="show-for-small">
      
      <br>

      <strong>Overview</strong>
      <ul class="side-nav">
        <%= active_link_to 'Dashboard', crm_path, :wrap_tag => :li, :active => :exclusive %>
      </ul>

      <strong>Relations</strong>
      <ul class="side-nav">
        <%= active_link_to 'Users', crm_users_path, :wrap_tag => :li, :active => :exclusive %>
        <%= active_link_to 'Invitations', crm_invitations_path, :wrap_tag => :li, :active => :exclusive %>
        <%= active_link_to 'List Vendors', crm_vendors_path, :wrap_tag => :li, :active => :exclusive %>
        <%= active_link_to 'Create Vendor', new_vendor_path, :wrap_tag => :li, :active => :exclusive %>
      </ul>

      <strong>Content</strong>
      <ul class="side-nav">
        <%= active_link_to 'Client Stories', crm_brochure_clients_path, :wrap_tag => :li %>
        <%= active_link_to 'Design Examples', crm_brochure_floorplans_path, :wrap_tag => :li %>
        <%= active_link_to 'Featured Architects', crm_featured_architects_path, :wrap_tag => :li %>
      </ul>

      <strong>Resources</strong>
      <ul class="side-nav">
        <%= active_link_to 'Albums', crm_albums_path, :wrap_tag => :li, :active => :exclusive %>
      </ul>
    </div>

  </div>

</section>

<% end %>

<%= render :template => 'layouts/application' %>