<% content_for :content do %>

<section id="content">

  <div class="row">
    <div class="columns large-12">
      <h1><%= @project.title %></h1>
      <hr>
    </div>
  </div>

  <div class="row">

    <div class="large-9 push-3 columns">
      <%= yield %>
    </div>

    <div class="large-3 pull-9 columns">
      
      <h3 class="side-nav-header">Project</h3>
      <ul class="side-nav project-menu fancy-menu">
        <%= active_link_to edit_project_path(@project), :wrap_tag => :li, :active => :exclusive do %> <i class="general foundicon-edit"></i>Project Info<% end %>
        <%= active_link_to project_path(@project.id), :wrap_tag => :li, :active => :exclusive do %> <i class="icon-tasks"></i> Timeline<% end %>
        <%= active_link_to project_album_path(@project), :wrap_tag => :li, :active => :exclusive do %> <i class="icon-picture"></i> Design Book<% end %>
        <% if false %>
        <%= active_link_to "#", :wrap_tag => :li, :active => :exclusive do %> <i class="icon-signal"></i> Budget and Progress<% end %>
        <%= active_link_to "#", :wrap_tag => :li, :active => :exclusive do %> <i class="icon-briefcase"></i> Documents and Files<% end %>
        <%= active_link_to "#", :wrap_tag => :li, :active => :exclusive do %> <i class="icon-shopping-cart"></i> Shopping List<% end %>
        <%= active_link_to "#", :wrap_tag => :li, :active => :exclusive do %> <i class="icon-money"></i> Billing<% end %>
        <% end %>
      </ul>

      <h3 class="side-nav-header">Team</h3>
      <ul class="side-nav project-members fancy-menu">
      <% @project.members.each do |m| %>
        <%= active_link_to user_profile_path(m.slug), :wrap_tag => :li, :active => :exclusive do %>
          <i class="icon-user"></i><%= m.username %> <br />
          <% if false %>
            <%-# for titles and such %>
            <i class="icon-user" style="visibility: hidden; "></i>
          <% end %>
        <% end %>
      <% end %>
      </ul>

    </div>

  </div>

</section>

<% end %>

<%= render :template => 'layouts/application' %>