<% provide(:title, @project.title) %>

<% content_for :content do %>

<section>

  <div class="row">

    <div class="large-10 push-2 columns">
      <h3><%= yield :title %></h1>
      <%= yield %>
    </div>

    <% if !@layout_no_sidebars %>
    <div class="large-2 pull-10 columns">
      <ul class="side-nav">
        <li><%= active_link_to 'Newsfeed', project_path(@project.id), :wrap_tag => :li %></li>
        <li><%= active_link_to 'Status', '#', :wrap_tag => :li %></li>
        <li><%= active_link_to 'Contracts', '#', :wrap_tag => :li %></li>
        <li><%= active_link_to 'Invoices', '#', :wrap_tag => :li %></li>
        <li><%= active_link_to 'Contacts', '#', :wrap_tag => :li %></li>
        <li><%= active_link_to 'Notes', '#', :wrap_tag => :li %></li>
      </ul>
    </div>
    <% end %>

  </div>

</section>

<% end %>

<%= render :template => 'layouts/application' %>