<%#  wrap views with foundation containers %>

<% content_for :content do %>

<header class="title-header">
    <div class="row">
          <div class="large-12 columns">
            <h5>Learn about New Avenue</h5>
          </div>
        </div>
</header>

<section>

  <div class="row">

    <div class="large-10 push-2 columns">
      <%= yield %>
    </div>

    <div class="large-2 pull-10 columns">
      <ul class="side-nav">
        <li><%= active_link_to 'What We Do', about_path, :wrap_tag => :li %></li>
        <li><%= active_link_to 'How We Work', '#', :wrap_tag => :li %></li>
        <li><%= active_link_to 'The Company', '#', :wrap_tag => :li %></li>
        <li><%= active_link_to 'The Team', '#', :wrap_tag => :li %></li>
        <li><%= active_link_to 'Investors & Partners', '#', :wrap_tag => :li %></li>
        <li><%= active_link_to 'Jobs', '#', :wrap_tag => :li %></li>
        <li><%= active_link_to 'FAQs', '#', :wrap_tag => :li %></li>
        <li><%= active_link_to 'Privacy Policy', '#', :wrap_tag => :li %></li>
        <li><%= active_link_to 'Terms of Service', '#', :wrap_tag => :li %></li>
      </ul>
    </div>

  </div>



  <!-- Call to Action -->
  <div class="row">
    <div class="large-12 columns">
    
      <div class="panel">
        <h4>Get in touch!</h4>
            
        <div class="row">
          <div class="large-9 columns">
            <p>We'd love to hear from you, you attractive person you.</p>
          </div>
          <div class="large-3 columns">
            <a href="#" class="radius button right">Contact Us</a>
          </div>
        </div>
      </div>


      
    </div>
  </div>


</section>

<% end %>

<%= render :template => 'layouts/application' %>