<% content_for :content do %>

<br>

<section class="user-profile">

  <div class="row">

    <div class="large-9 push-3 columns">
      <h2><%= @user.username %></h2>
      
      <% if @user.has_role? :vendor %>
        <p class="user-company">of <% @user.vendors.each do |vendor| %><%= link_to vendor.name, vendor_profile_path(vendor.slug) %><% end %></p>
      <% end %>

      <div class="profile-picture-wrapper show-for-small">
        <%= image_tag user_picture_for(@user, :profile), :class => "profile-picture" %> 
      </div>

      <div class="show-for-small hidden">
        <br>
        <%= link_to "Send Message", "#", :class => "button light-blue show-for-small", :style => "width: 100%; " %>
      </div>
      
      <hr />
      <%= yield %>
    </div>

    <div class="large-3 pull-9 columns">
      <div class="profile-picture-wrapper hide-for-small">
        <%= image_tag user_picture_for(@user, :profile), :class => "user-profile-picture profile-picture" %> 
      </div>

      <br>

      <div class="hidden">
      <%= link_to "Send Message", "#", :class => "button light-blue hide-for-small", :style => "width: 100%; " %>
      </div>

      <ul class="side-nav hidden">
        <li><%= active_link_to 'TODO: Follow user', '#', :wrap_tag => :li %></li>
        <li><%= active_link_to 'TODO: Send message', '#', :wrap_tag => :li %></li>
      </ul>

    </div>



  </div>

</section>

<% end %>

<%= render :template => 'layouts/application' %>