<% content_for :content do %>

<section>

  <div class="row">

    <div class="large-3 columns">

      <%= image_tag user_picture_for(@user, :profile), :class => "user-profile-picture" %>

      <br>

      <%= link_to "Send Message", "#", :class => "button light-blue", :style => "width: 100%; " %>

      <h4>Projects</h4>
      
      <ul class="side-nav">
        <li><%= active_link_to 'TODO: Follow user', '#', :wrap_tag => :li %></li>
        <li><%= active_link_to 'TODO: Send message', '#', :wrap_tag => :li %></li>
      </ul>

    </div>

    <div class="large-9 columns">
      <h3 class="hide-for-small"><%= @user.username %></h3>
      <hr />
      <%= yield %>
    </div>

  </div>

</section

<% end %>

<%= render :template => 'layouts/application' %>