<% content_for :content do %>

<br>

<section class="user-profile">

  <div class="row">

    <!-- content -->
    <div class="large-9 push-3 columns">

      <!-- profile picture @small -->
      <div class="show-for-small center-text">
        <%= image_tag @user.profile.avatar(:square) %> 
      </div>
      
      <%= yield %>

    </div>

    <!-- sidebar -->
    <div class="large-3 pull-9 columns">

      <!-- profile picture -->
      <div class="hide-for-small">
        <%= image_tag @user.profile.avatar(:square) %> 
      </div>

      <% if @user.has_role?(:vendor) and @user.vendors.count > 0 %>
        <!-- companies -->
        <div class="show-for-small">
          <h4>Team member of:</h4>
        </div>
        <table class="vertical-middle">
          <tbody>
            <% @user.vendors.each do |vendor| %>
            <tr>
              <td><%= link_to vendor_profile_path(:slug => vendor.slug) do %><%= image_tag vendor.logo(:tiny) %><% end %></td>
              <td><%= link_to vendor_profile_path(:slug => vendor.slug) do %><%= vendor.name %><% end %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      <% end %>

      <!-- nav -->
      <ul class="side-nav">
        <% if can? :update, @user.profile %>
          <li><%= link_to edit_profile_path(@user) do %><i class="general foundicon-edit"></i>Edit profile<% end %></li>
          <li class="divider"></li>
        <% end %>
      </ul>

    </div>

  </div>

</section>

<% end %>

<%= render :template => 'layouts/application' %>