<% content_for :content do %>

<section>

  <div class="row">



    <div class="large-2 push-10 columns">

    </div>

    <div class="large-10 pull-2 columns">
      <%= render :partial => 'frontend/vendors/vendors/header' %>
      <% if @vendor.object and can? :update, @vendor.object %>
        <% if !content_for?(:toolbar)  %>
          <%= render :partial => 'frontend/vendors/vendors/toolbar' %>
        <% else %>
          <%= yield(:toolbar) %>
        <% end %>
      <% end %>
      <%= yield %>
    </div>

  </div>

</section>

<% end %>



<% provide :modals do %>
<%= render :partial => 'frontend/albums/albums/new_modal' %>
<% end %>


<%= render :template => 'layouts/application' %>