<% content_for :content do %>

<section class="vendor-profile">

  <div class="row">

    <div class="large-9 push-3 columns">

      <% if @vendor.object and can? :update, @vendor.object %>
        <% if !content_for?(:toolbar)  %>
          <%= render :partial => 'frontend/vendors/vendors/toolbar' %>
        <% else %>
          <%= yield(:toolbar) %>
        <% end %>
      <% end %>
      <%= yield %>
    </div>

    <div class="large-3 pull-9 columns">
      <%= render :partial => 'frontend/vendors/vendors/vendor_profile_sidebar', :locals => {:vendor => @vendor} %>
    </div>

  </div>

</section>

<% end %>

<% provide :modals do %>
<%= render :partial => 'frontend/albums/albums/new_modal' %>
<% end %>

<%= render :template => 'layouts/application' %>